# Ignore migration files if not already in version control
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# Ignore Django specific files
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
.env
# Ignore local settings
local_settings.py
sitemapper.js
pyvenv.cfg
eshop/ecommerce/__pycache__/views.cpython-311.pyc
requirements
eshop/ecommerce/migrations/__pycache__/0007_alter_clientuser_birthdate.cpython-311.pyc
eshop/ecommerce/migrations/__pycache__/0008_alter_clientuser_birthdate_and_more.cpython-311.pyc
eshop/ecommerce/migrations/__pycache__/0009_rename_max_size_prixarticle_taille_and_more.cpython-311.pyc
eshop/ecommerce/migrations/__pycache__/0011_article_stock.cpython-311.pyc
eshop/ecommerce/migrations/__pycache__/0010_remove_article_fk_prix_article_and_more.cpython-311.pyc
pierre_env/