{% extends 'base.html' %}
{% load static %}

{% block content %}


<style>

    .cookie-consent-banner {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }
    .cookie-consent-banner p {
        margin: 0;
        padding: 0;
    }
    .cookie-consent-banner button {
        background: #007bff;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }


    @media screen and (max-width: 767px) {
        /*-----------------------------------*\
        * COOKIES CONSENT BANNER
        \*-----------------------------------*/
        .cookie-consent-banner {
            position: fixed;
            top: 0;
            bottom: auto;
            width: fit-content;
            z-index: 1100;
        }

        /*-----------------------------------*\
        * NOUVEAUTES SLIDER
        \*-----------------------------------*/

        .slide_new {
            width: 65%;
        }
        .slide_new.active_new {
            display: flex;
        }
        .image_new {
            background-size: cover;
            width: 100%;
            height: 100%;
            border-radius: 1rem !important;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 998;
        }

        .slide-content-new {
            z-index: 999;
            background-color: rgba(255, 255, 255, 0.3) !important;
            align-items: center !important;
            border-radius: 1rem !important;
        }

        #description_new_article {
            display: none;
        }

        .slide-content-new h1 {
            color: white !important;
            -webkit-text-stroke: 1px black; /* Outline color and width */
        }

        .slide-content-new p {
            font-size: 1rem !important;
            color: white !important;
            text-shadow: 1px 1px 0 rgb(90, 90, 90), -1px -1px 0 rgb(90, 90, 90), 1px -1px 0 rgb(90, 90, 90), -1px 1px 0 rgb(90, 90, 90);
        }

        .slide-content-new button {
            margin: auto 0  !important;
            right: auto !important;
            left: auto !important;
            bottom: 2rem !important;
        }


        /*-----------------------------------*\
        * PROMO POPUP MODAL
        \*-----------------------------------*/

        .popup-modal {
            width: 10rem;
            height: 12rem;
            bottom: 7rem !important;
        }

        .popup-content h2 {
            font-size: 1.2em;
        }
        .popup-content p {
            font-size: 1em;
            color: black;
        }
    }

</style>

        <!--==================== HEADER ====================-->
        <header role="banner" class="header" id="header">

            <!--==================== TOP BAR ====================-->
            <div class="top__bar">

                   <div class="search__container">
                    {% if utilisateur_connecte %}
                    <a href="{% url 'panier' %}" style="width: 50px;" aria-label="icône de panier"><i class="bi bi-cart3 fa-2x"></i></a>
                    <a href="{% url 'favoris' %}" style="width: 50px;" aria-label="icône de favoris"><i class="bi bi-suit-heart fa-2x"></i></a>
                    {% else %}
                    <a href="#" style="width: 50px;" aria-label="icône de panier" id="not_connected_cart"><i class="bi bi-cart3 fa-2x"></i></a>
                    <a href="#" style="width: 50px;" aria-label="icône de favoris" id="not_connected_favoris"><i class="bi bi-suit-heart fa-2x"></i></a>
                    {% endif %}

                    <a href="#" class="search__icon" aria-label="icône de recherche"><i class="bi bi-search fa-2x" style="width: 50px;"></i></a>
                   </div>

                    <!-- Barre de recherche -->
                    <div id="searchBar" class="search-bar">
                        <form id="search-form" method="post" autocomplete="off">
                            {% csrf_token %}
                        <label for="searchInput" style="color: transparent; position: absolute;">chercher</label>
                        <input type="text" id="searchInput" placeholder="Rechercher...">
                        </form>
                        <div id="results-box" class="results-card" style="display:none"></div>
                    </div>
                
                    <!-- Script to log search input to console -->

                    <script>
                        $(document).ready(function() {

                            const searchForm = document.getElementById('search-form');
                            const searchInput = document.getElementById('searchInput');
                            const resultsBox = document.getElementById('results-box');

                            const searchFormMobile = document.getElementById('search-form-mobile');
                            const searchInputMobile = document.getElementById('searchInputMobile');
                            const resultsBoxMobile = document.getElementById('results-box-mobile');

                            const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;

                            function sendSearchData(form, input, results) {
                                $.ajax({
                                    type: 'POST',
                                    url: '{% url "search" %}',
                                    data: {
                                        'csrfmiddlewaretoken': csrf,
                                        'article': input.value,
                                    },
                                    success: function(res) {
                                        let data = res.data;
                                        if (Array.isArray(data)) {
                                            results.innerHTML = '';
                                            data.forEach(article => {
                                                let articleContainer = document.createElement('a');
                                                articleContainer.onclick = function() {
                                                    window.location.href = "/details/" + article.id;
                                                };
                                                articleContainer.classList.add('link', 'article-container');

                                                let imgElement = document.createElement('img');
                                                imgElement.src = article.image;
                                                imgElement.alt = article.name;
                                                imgElement.classList.add('article-img');
                                                imgElement.style.marginRight = '10px';

                                                let nameElement = document.createElement('h5');
                                                nameElement.textContent = article.name;
                                                nameElement.style.color = 'black';

                                                articleContainer.appendChild(imgElement);
                                                articleContainer.appendChild(nameElement);

                                                results.appendChild(articleContainer);
                                            });
                                        } else {
                                            if (input.value.length > 0) {
                                                results.innerHTML = `<b>${data}</b>`;
                                            } else {
                                                results.innerHTML = '';
                                                results.style.display = 'none';
                                            }
                                        }
                                    },

                                    error: function(err) {
                                        console.log(err);
                                    },
                                });
                            }

                            searchInput.addEventListener('input', function(e) {
                                const searchQuery = e.target.value.trim();
                                if (searchQuery.length > 0) {
                                    resultsBox.style.display = 'block';
                                } else {
                                    resultsBox.style.display = 'none';
                                }
                                sendSearchData(searchForm, searchInput, resultsBox);
                            });

                            searchInputMobile.addEventListener('input', function(e) {
                                const searchQuery = e.target.value.trim();
                                if (searchQuery.length > 0) {
                                    resultsBoxMobile.style.display = 'block';
                                } else {
                                    resultsBoxMobile.style.display = 'none';
                                }
                                sendSearchData(searchFormMobile, searchInputMobile, resultsBoxMobile);
                            });
                            
                        });

                    </script>

                    <script>
                    function redirectToArticle(articleId) {
                        // Redirect to the article detail page or perform any other action based on the article ID
                        window.location.href = '/details/' + articleId; // Change the URL as needed
                    }
                    </script>


                   <a href="{% url 'accueil' %}" class="logo__prin"> 
                    <img id="logo" src="{% static 'img/logo.webp' %}" alt="logo la pierre de lune">
                   </a>

                   {% if utilisateur_connecte %}


                   <!-- Desktop version -->
                   <div class="shop__container">
                    <a href="{% url 'deconnexion' %}"><button class="log__button">Se déconnecter
                        <i class="fa fa-sign-out"></i>
                    </button></a>
                    <a href="{% url 'profil' %}"><button class="log__button" >
                        <i class="far fa-circle-user fa-lg" style="padding: 0; padding-right: 5px; "></i>
                        {{ prenom_utilisateur }}
                        <i class="fa-solid fa-chevron-down" style="padding: 0;"></i>
                    </button></a>
                   </div>
                

                   {% else %}

                   <div class="shop__container">
                    <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire
                        <i class="fa fa-user-plus"></i>
                    </button></a>
                    <a href="{% url 'connexion' %}"><button class="log__button">Se connecter
                        <i class="fa fa-sign-in"></i>
                    </button></a>
                   </div>

                   {% endif %} 

            </div>


            <div  class="separation_img" style="display: flex; justify-content: space-around; align-items: center;">
                <img src="{% static 'img/Vector.webp' %}" alt="separation" style="width: auto; padding: 2rem;">
            </div>

            <!--==================== NAVIGATION BAR ====================-->
            <nav class="nav container" id="nav-bar">
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list grid">
                        <li class="nav__item">
                            <a href="#" class="nav__link active-link">
                                <i class="fa-regular fa-moon"></i>
                                 Accueil
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#collection" class="nav__link anchor__link">
                                <i class="fa-solid fa-shapes"></i>
                                 Collections
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#artist" class="nav__link anchor__link">
                                <i class="fa-solid fa-person-rays"></i>
                                 Artiste
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'articles' %}" class="nav__link">
                                <i class="fa-solid fa-store"></i>
                                 Articles
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'pierres' %}" class="nav__link">
                                <i class="fa-regular fa-gem"></i>
                                 Pierres
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#voyance" class="nav__link anchor__link">
                                <i class="fa-solid fa-hand-sparkles"></i>
                                 Voyance
                            </a>
                        </li>

                    </ul>

                    <!--Close button-->
                <div class="nav__close" id="nav-close">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>

                <a href="{% url 'accueil' %}" class="nav__logo">
                    <img src="{% static 'img/logo_mb.webp' %}" style="width: auto; height: 2rem;" alt="logo version mobile">
                </a>

                <div class="nav__buttons">

                    <a href="{% url 'panier' %}" aria-label="icône de panier"><i class="bi bi-cart3 fa-lg"></i></a>
                    <a href="{% url 'favoris' %}" aria-label="icône de favoris"><i class="bi bi-suit-heart fa-lg"></i></a>
                    <a href="#" class="search__icon" aria-label="icône de recherche"><i class="bi bi-search fa-lg" style="width: 50px;"></i></a>
                    
                    <!-- Toggle button -->
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="fa-solid fa-bars-staggered"></i>
                    </div>
                </div>
            </nav>
            
        </header>


        <!--=============== LOG HEADER BUTTONS ==================-->

        <!-- Mobile version -->

        {% if utilisateur_connecte %}

        <div class="log__container">
            <a href="{% url 'profil' %}"><button class="log__button" >
                <i class="far fa-circle-user fa-lg" style="padding: 0; padding-right: 5px; "></i>
                {{ prenom_utilisateur }}
                <i class="fa-solid fa-chevron-down" style="padding: 0;"></i>
            </button></a>

            <a href="{% url 'deconnexion' %}"><button class="log__button">Se déconnecter
                <i class="fa fa-sign-out"></i>
            </button></a>

        </div>

        {% else %}

        <div class="log__container">
            <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire
                <i class="fa fa-user-plus"></i>
            </button></a>
            <a href="{% url 'connexion' %}"><button class="log__button">Se connecter
                <i class="fa fa-sign-in"></i>
            </button></a>
        </div>

        {% endif %}
        

        <!-- Barre de recherche Mobile -->
        <div id="searchBarMobile" class="search-bar-mobile" style="display: none;">
            <form id="search-form-mobile" method="post" autocomplete="off">
                {% csrf_token %}
                <label for="searchInputMobile" style="color: transparent; position: absolute;">chercher</label>
                <input type="text" id="searchInputMobile" placeholder="Rechercher...">
            </form>
            <div id="results-box-mobile" class="results-card-mobile" style="display:none"></div>
        </div>


        {% if active_promos %}
        <!-- Popup Modal -->
        <div id="sales-popup" class="popup-modal">
            <div class="popup-content" style="background-image: url('{% static 'img/promo_deco.webp' %}');">
                <span class="close-modal-btn" style="color: white;">&times;</span>
                <h2>{{active_promos.first.libelle}}</h2>
                <b><p>- {{active_promos.first.discount_percentage|floatformat:"0"}}%</p></b>
                <p>jusqu'au <b>{{active_promos.first.end_date}}</b></p>
                <a href="{% url 'articles' %}"><button class="shop-now-btn">J'en profite !</button></a>
            </div>
        </div>

        {% endif %}

        <!--==================== MAIN ====================-->
        <main class="main">

            <!--==================== ACCUEIL ====================-->
            <section class="accueil__container">
                <h1 class="accueil__title">La Pierre De<br>Lune</h1>
                <div class="accueil__line"></div>
                <div class="accueil__data">
                    <p class="accueil__description">
                        DES BIJOUX ARTISANAUX RIEN<br>QUE POUR VOUS !
                    </p>

                    <button class="accueil__button" onclick="redirectToArticles()">
                        Commencer
                    </button>
                
                    <script>
                        function redirectToArticles() {
                            // Utilisez window.location.href pour rediriger l'utilisateur vers la page 'articles'
                            window.location.href = "{% url 'articles' %}";
                        }


                    </script>

                </div>
            </section>


            <!--==================== NOUVEAUTÉS ====================-->
                    
            {% if recent_articles %}
            <section class="autres__articles">
                
                <h1 class="collection__title" style="padding-top: 4rem !important; margin-bottom: 4rem;">DÉCOUVREZ NOS NOUVEAUTÉS</h1>

                <div class="slider-container-new" id="slider-container-new">
                    <div class="slider_new" id="slider_new">
                        {% for article in recent_articles %}
                        <div class="slide_new">
                            <div class="slide-content-new">
                                <h1>{{ article.libelle }}</h1>

                                <p id="description_new_article">{{ article.description|truncatewords:30 }}</p>

                                {% if article.tags.all or article.pierres.all %}
                                {% if article.tags.all %}

                                <p>
                                <br><br>
                                <b> Besoins : </b> 
                                {% for tag in article.tags.all %}
                                    {{ tag.libelle }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                </p>
                                {% endif %}
                                
                                {% if article.pierres.all %}
                                <p>
                                <br><br>
                                <b> Pierres : </b> 
                                {% for pierre in article.pierres.all %}
                                    {{ pierre.libelle }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                </p>

                                {% endif %}
                

                                {% endif %}

                                <button onclick="redirectToArticle('{{ article.id }}')">Lire plus...</button>
                            </div>

                            <div class="image_new" style="background-image: url('{{ article.image.url }}');"></div>
                            
                        </div>
                        {% endfor %}
                    </div>
                    <div class="controls">
                        <button class="control" id="prev"><b>❮</b></button>
                        <button class="control" id="next"><b>❯</b></button>
                    </div>
                </div>
            </section>
            {% endif %}
                        
            <!--==================== COLLECTION ====================-->
            <!-- swiper test -->

                <section class="swiper accueilSwiper" id="collection">
                    <h1 class="collection__title">DÉCOUVREZ NOS COLLECTIONS</h1>

                    <div class="swiper-wrapper">

                    {% for collection in collections %}
                    <div class="card swiper-slide mon-slider">
                        <div class="card__image">
                            <img src="{{ collection.image.url }}" loading="lazy" alt="card image of collection {{ collection.id }}">
                        </div>
        
                        <div class="card__content">
                            <span class="card__title">{{ collection.libelle }}</span>
                            <button class="card__btn" collection-id="{{ collection.id }}">Découvrir</button>
                        </div>
                    </div>
                    {% endfor %}

                    <script>
                        document.querySelectorAll('.card__btn').forEach(button => {
                        button.addEventListener('click', () => {
                            // Récupérez l'ID de la collection en utilisant l'attribut collection-id
                            const collectionId = button.getAttribute('collection-id');

                            // Effectuez une redirection vers la vue collections avec l'ID de la collection en tant que paramètre
                            window.location.href = `/collections/${collectionId}/`;
                        });
                    });

                    </script>
                    </div>

                    <div class="swiper-button-next">
                        <i class="fa-regular fa-chevrons-right"></i>
                      </div>
                      <div class="swiper-button-prev">
                        <i class="fa-regular fa-chevrons-left"></i>
                      </div>

                </section>


            <!--==================== ARTISTE ====================-->
            <section class="artiste__section" id="artist">
                <h1 class="artiste__title">Sandra DELAVACHERIE</h1>
                <div class="artiste__container">

                    <div class="artiste__image">
                        <div class="artiste__frame"></div>
                        
                        <img 
                            src="{% static 'img/artiste_469.webp' %}" 
                            srcset="
                                {% static 'img/artiste_200.webp' %} 200w,
                                {% static 'img/artiste_380.webp' %} 380w,
                                {% static 'img/artiste_469.webp' %} 469w
                            " 
                            sizes="
                                (max-width: 200px) 200px,
                                (max-width: 380px) 380px,
                                469px
                            " 
                            alt="photo de l'artiste"
                            width="469"
                            height="auto">

                    </div>

                    <div class="artiste__content">
                        <p class="artiste-text"> Créer des bijoux, mélanger des couleurs, des accessoires est une passion... y associer mon magnétisme.... une évidence !<br><br>

                            Je suis convaincue qu'assembler des pierres et leurs propriétés en les combinant avec mon magnétisme apporte un bien-être inégalé à mes clientes.<br><br>
                            
                            C'est cette recherche de confort, de soin, d'amélioration constante et d'exigence pour mes clients qui me ravie chaque jour.<br><br>
                            
                            Ces bijoux prennent vie dans mon atelier. Mon atelier qui est aussi mon magasin, dans lequel je vous reçois sous le nom de La Pierre de Lune.<br><br>
                            
                            C'est trois ans de bonheur, de rires, de joie, de partage et d'amour que je souhaite perpétuer un long moment...
                             </p>
                    </div>

                </div>
            </section>

            
            <!--==================== SERVICE ====================-->
                    
            <section class="service__section">
                    <h1 class="service__title">COMMANDEZ SEREINEMENT</h1>
                        <div class="service__container">
                            <ul class="service-list">
                                <li class="service-item">
                                  
                                  <div class="service-item-icon">
                                    <img src="{% static 'img/Money Yours.svg' %}" alt="service money">
                                  </div>
            
                                  <div class="service-content">
            
                                    <center>
                                    <p class="service-item-title">Paiement sécurisé</p>
                                    <p class="service-item-text">Vos données sont parfaitement protégées au moment de passer votre commande.</p></center>
                                  </div>
                                </li>
            
                                <li class="service-item">
                                  <div class="service-item-icon">
                                    <img src="{% static 'img/Shipped.svg' %}" alt="service camion">
                                  </div>
            
                                  <div class="service-content">
                                    <center>
                                    <p class="service-item-title">Livraison gratuite</p>
            
                                    <p class="service-item-text">La livraison vous est offerte pour tout achat à partir de <b>65 euros</b>.</p></center>
                                  </div>
                                </li>
            
                              </ul>
                            </div>
            </section>


            <!--==================== VOYANCE ====================-->
            <section class="voyance__section" id="voyance">
                <h1 class="voyance__title">DEMANDE DE VOYANCE</h1>
                <center><p class="voyance-text"> Vous vous posez des questions ? Je vous apporte, par email ou en consultation complète, des réponses claires et précises pour éclairer votre chemin </p></center>
                <div class="voyance__content">

                    {% for voyance in voyances %}
                    <div class="card__voyance">
                        <div class="card__inner">
                            <div class="card__front">
                                <h2>{{voyance.libelle}}</h2>
                            </div>
                            <div class="card__back">
                                <p>{{voyance.description}}</p>
                                <form action="{% url 'choose_voyance' voyance.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Choisir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </section>

            <!--==================== GOOGLE MAPS ====================-->
            
            <section class="maps__section" id="map-container" style="display: none;">
                <div class="floating-label">VISITEZ-NOUS !</div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2894.533093464446!2d2.372805111524024!3d43.49121346277241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ae1933a0a3a0d3%3A0x634215eade142367!2sLa%20pierre%20de%20lune!5e0!3m2!1sfr!2sdz!4v1686522074819!5m2!1sfr!2sdz" 
                 height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="google maps"></iframe>
            </section>

            <div class="cookie-consent-banner" id="cookie-consent-banner">
                <p>  Nous utilisons des cookies pour améliorer votre expérience. Cela inclut les cookies de Google Maps et Stripe. En continuant à visiter ce site, vous acceptez notre utilisation des cookies.</p>
                <button id="accept-cookies">Accepter</button>
            </div>
        
        </main>

        <script>
            document.getElementById('accept-cookies').addEventListener('click', function() {
                document.cookie = "cookieConsent=true; path=/; max-age=" + 60*60*24*365; // 1 year expiration
                document.getElementById('cookie-consent-banner').style.display = 'none';
                document.getElementById('map-container').style.display = 'grid';
                // Load Stripe and other third-party scripts here if necessary
            });
        
            document.addEventListener('DOMContentLoaded', function() {
                if (document.cookie.split(';').some((item) => item.trim().startsWith('cookieConsent=true'))) {
                    document.getElementById('cookie-consent-banner').style.display = 'none';
                    document.getElementById('map-container').style.display = 'grid';
                    // Load Stripe and other third-party scripts here if necessary
                }
            });
        </script>
    <!--=============== MAIN JS ===============-->
    <script src="{% static 'js/accueil.js' %}" async></script>

{% endblock %}