{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!--==================== HEADER ====================-->
        <header role="banner" class="header" id="header">

            <!--==================== TOP BAR ====================-->
            <div class="top__bar">

                   <div class="search__container">
                    <a href="{% url 'panier' %}" style="width: 50px;"><i class="bi bi-cart3 fa-2x"></i></a>
                    <a href="{% url 'profil' %}#wishlist" style="width: 50px;"><i class="bi bi-suit-heart fa-2x"></i></a>
                    <a><i class="bi bi-search fa-2x" style="width: 50px;"></i></a>
                   </div>

                   <a href="{% url 'accueil' %}" class="logo__prin">
                    <img id="logo" src="{% static 'img/logo.png' %}">
                   </a>

                   <div class="shop__container">
                    <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire</button></a>
                    <a href="{% url 'connexion' %}"><button class="log__button">Se connecter</button></a>
                   </div>
            </div>

            <div style="display: flex; justify-content: space-around; align-items: center;">
                <img src="{% static 'img/Vector.png' %}" alt="separation" style="width: auto; padding: 2rem;">
            </div>

            <!--==================== NAVIGATION BAR ====================-->
            <nav class="nav container">
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list grid">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link anchor__link">
                                 Accueil
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#collection" class="nav__link anchor__link">
                                 Collection
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#artist" class="nav__link anchor__link">
                                 Artiste
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'articles' %}" class="nav__link">
                                 Articles
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'pierres' %}" class="nav__link">
                                 Pierres
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#voyance" class="nav__link anchor__link">
                                 Voyance
                            </a>
                        </li>

                    </ul>

                    <!--Close button-->
                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <div class="nav__buttons">

                    <!-- Theme change button -->
                    <!-- <i class="ri-moon-clear-line change-theme" id="theme-button"></i> -->
                    
                    <!-- Toggle button -->
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-menu-4-line"></i>
                    </div>
                </div>
            </nav>

        
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">

            <!--==================== ACCUEIL ====================-->
            <section class="accueil__container">
                <h1 class="accueil__title">LA Pierre De<br>Lune</h1>
                <div class="accueil__line"></div>
                <div class="accueil__data">
                    <p class="accueil__description">
                        DES BIJOUX ARTISANAUX RIEN<br>QUE POUR VOUS !
                    </p>

                    <button class="accueil__button">
                        Commencer
                    </button>
                </div>
            </section>


            <!--==================== COLLECTION ====================-->
            <!-- swiper test -->

                <section class="swiper mySwiper">
                    <h1 class="collection__title">DÉCOUVREZ NOS COLLECTIONS</h1>

                    <div class="swiper-wrapper">



                    <div class="card swiper-slide">
                        <div class="card__image">
                        <img src="{% static 'img/produits/bracelets.png' %}" alt="card image">
                        </div>

                        <div class="card__content">
                        <span class="card__title">BRACELETS</span>
                        <!--<button class="card__btn">Voir plus</button>-->
                        </div>
                    </div>



                    <div class="card swiper-slide">
                        <div class="card__image">
                        <img src="{% static 'img/produits/boucle.png' %}" alt="card image">
                        </div>

                        <div class="card__content">
                        <span class="card__title">BOUCLES D'OREILLES</span>
                        <!--<button class="card__btn">Voir plus</button>-->
                        </div>
                    </div>




                    <div class="card swiper-slide">
                        <div class="card__image">
                        <img src="{% static 'img/produits/orgonites.jpg' %}" alt="card image">
                        </div>

                        <div class="card__content">
                        <span class="card__title">ORGONITES</span>
                        <!--<button class="card__btn">Voir plus</button>-->
                        </div>
                    </div>




                    <div class="card swiper-slide">
                        <div class="card__image">
                        <img src="{% static 'img/produits/bouddhas.jpg' %}" alt="card image">
                        </div>

                        <div class="card__content">
                        <span class="card__title">BOUDDHA</span>
                        <!--<button class="card__btn">Voir plus</button>-->
                        </div>
                    </div>



                    <div class="card swiper-slide">
                        <div class="card__image">
                        <img src="{% static 'img/produits/malas.png' %}" alt="card image">
                        </div>

                        <div class="card__content">
                        <span class="card__title">MALAS</span>
                        <!--<button class="card__btn">Voir plus</button>-->
                        </div>
                    </div>


                    <div class="card swiper-slide">
                        <div class="card__image">
                        <img src="{% static 'img/produits/bolas.png' %}" alt="card image">
                        </div>

                        <div class="card__content">
                        <span class="card__title">BOLAS POUR GROSSESSE</span>
                        <!--<button class="card__btn">Voir plus</button>-->
                        </div>
                    </div>




                    <div class="card swiper-slide">
                        <div class="card__image">
                        <img src="{% static 'img/produits/plaques.jpg' %}" alt="card image">
                        </div>

                        <div class="card__content">
                        <span class="card__title">PLAQUES DE RECHARGEMENT </span>
                        <!--<button class="card__btn">Voir plus</button>-->
                        </div>
                    </div>



                    <div class="card swiper-slide">
                        <div class="card__image">
                        <img src="{% static 'img/produits/deco.jpg' %}" alt="card image">
                        </div>

                        <div class="card__content">
                        <span class="card__title">DÉCORATION</span>
                        <!--<button class="card__btn">Voir plus</button>-->
                        </div>
                    </div>



                    </div>

                    <div class="swiper-button-next">
                        <i class="fa-regular fa-chevrons-right"></i>
                      </div>
                      <div class="swiper-button-prev">
                        <i class="fa-regular fa-chevrons-left"></i>
                      </div>

                </section>


            <!--==================== ARTISTE ====================-->
            <section class="artiste__section" id="artist">
                <h1 class="artiste__title">Sandra DELAVACHERIE</h1>
                <div class="artiste__container">

                    <div class="artiste__image">
                        <div class="artiste__frame"></div>
                        <img src="{% static 'img/artiste.PNG' %}" alt="artiste image">
                    </div>

                    <div class="artiste__content">
                        <p class="artiste-text"> Créer des bijoux, mélanger des couleurs, des accessoires est une passion... y associer mon magnétisme.... une évidence !<br><br>

                            Je suis convaincue qu'assembler des pierres et leurs propriétés en les combinant avec mon magnétisme apporte un bien-être inégalé à mes clientes.<br><br>
                            
                            C'est cette recherche de confort, de soin, d'amélioration constante et d'exigence pour mes clients qui me ravie chaque jour.<br><br>
                            
                            Ces bijoux prennent vie dans mon atelier. Mon atelier qui est aussi mon magasin, dans lequel je vous reçois sous le nom de La Pierre de Lune.<br><br>
                            
                            C'est trois ans de bonheur, de rires, de joie, de partage et d'amour que je souhaite perpétuer un long moment...
                             </p>
                    </div>

                </div>
            </section>

            
            <!--==================== SERVICE ====================-->
                    
                <section class="service__section">
                    <h1 class="service__title">COMMANDEZ SEREINEMENT</h1>
                        <div class="service__container">
                            <ul class="service-list">
                                <li class="service-item">
                                  
                                  <div class="service-item-icon">
                                    <img src="{% static 'img/Money Yours.svg' %}" alt="service icon">
                                  </div>
            
                                  <div class="service-content">
            
                                    <center>
                                    <p class="service-item-title">Paiement sécurisé</p>
                                    <p class="service-item-text">Vos données sont parfaitement protégées au moment de passer votre commande.</p></center>
                                  </div>
                                </li>
            
                                <li class="service-item">
                                  <div class="service-item-icon">
                                    <img src="{% static 'img/Shipped.svg' %}" alt="service icon">
                                  </div>
            
                                  <div class="service-content">
                                    <center>
                                    <p class="service-item-title">Livraison gratuite</p>
            
                                    <p class="service-item-text">La livraison vous est offerte pour tout achat à partir de <b>65 euros</b>.</p></center>
                                  </div>
                                </li>
            
                              </ul>
                            </div>
                </section>


            <!--==================== VOYANCE ====================-->
            <section class="voyance__section" id="voyance">
                <h1 class="voyance__title">DEMANDE DE VOYANCE</h1>

                <div class="voyance__content">

                    <p class="voyance-text">
                        Vous vous posez des questions, je peux vous répondre par mail très rapide et m'expliquer un peu le contenu, car très souvent les questions ne sont pas claires.<br><br>

                        Il me faut impérativement une photo de vous de la tête au pied.

                        <br><br>Après paiement, envoyez votre demande à cette adresse à sandramedium@hotmail.com

                        <br><br>N'appelez pas à mon numéro, je ne fais aucune voyance par téléphone.
                    </p>

                    <button class="voyance__button">
                        Envoyez une demande
                    </button>

                </div>


            </section>


            <!--==================== GOOGLE MAPS ====================-->
            
            <section class="maps__section">
                <div class="floating-label">VISITEZ-NOUS !</div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2894.533093464446!2d2.372805111524024!3d43.49121346277241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ae1933a0a3a0d3%3A0x634215eade142367!2sLa%20pierre%20de%20lune!5e0!3m2!1sfr!2sdz!4v1686522074819!5m2!1sfr!2sdz" 
                 height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>

        </main>
{% endblock %}