{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'img/logo_trans.png' %}" type="image/x-icon">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== FONTAWESOME ==============-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        
        <!--=============== BOOTSTRAP ==============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
        

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="{% static 'css/twitter-bootstrap.css' %}"> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <title>La pierre de lune</title>
    </head>
    
    <body>
        {% block content %}
        
        {% endblock %}

                <!--==================== FOOTER ====================-->
                <footer class="footer" style="background-color:#414141;">
                    <div class="row">
                        <div class="column" style="background-color:#414141;">
                            <h2 style="color: white;">Menu Principal</h2>
                            <ul class="footer__menu__principal">
                                <li class="footer__link"><a href="{% url 'accueil' %}" >ACCUEIL</a></li>
                                <li class="footer__link"><a href="" >COLLECTION</a></li>
                                <li class="footer__link"><a href="{% url 'accueil' %}#artist" >ARTISTE</a></li>
                                <li class="footer__link"><a href="{% url 'articles' %}" >ARTICLES</a></li>
                                <li class="footer__link"><a href="{% url 'accueil' %}#voyance" >VOYANCE</a></li>
                            </ul>
                        </div>
                        <div class="column" style="background-color:#414141;">
                            <h2 style="color: white;">Aide</h2>
                            <ul class="footer__aide">
                                <li class="footer__link"><a href="{% url 'conditions' %}" >CONDITIONS GÉNÉRALES</a></li>
                                <li class="footer__link"><a href="{% url 'mentions' %}" >MENTIONS LÉGALES</a></li>
                            </ul>
        
                        </div>
                        <div class="column" style="background-color:#414141;">
                            <h2 style="color: white;">La Pierre De Lune</h2>
                            <ul class="footer__contact">
        
                                <li class="footer__link">
                                    <img src="{% static 'img/attherate-icon.svg' %}" alt="email icon">
                                    <a href="mailto:sandramedium@hotmail.com">sandramedium@hotmail.com</a></li>
        
                                <li class="footer__link">
                                    <img src="{% static 'img/phone-outline-icon.svg' %}" alt="phone icon">
                                    <a href="" >05 63 59 61 68</a></li>
                            </ul>
        
                            <ul class="footer__social">
                                <a href="https://www.facebook.com/sandramedium1" target="_blank"> <i class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/la_pierre_de_.lune/" target="_blank"> <i class="fa-brands fa-instagram"></i></a>
                                <a href="https://www.tiktok.com/@lapierredelune" target="_blank"> <i class="fa-brands fa-tiktok"></i></a>
                            </ul>
                            
                        </div>
                        <div class="column" style="background-color:#414141;">
        
                            <section class="newsletter">
                                <h2 class="heading">
                                    Abonnez-vous à ma newsletter
                                </h2>
        
                                <p>
                                    Découvrez mes dernières créations et plein d'autres infos intéressantes!
                                </p>
        
                                <form>
                                  <input id="newsletter_input" type='text' placeholder="  Entrez votre email"><br/>
                                  <button class="btn" role="button">
                                    Soumettre
                                  </button>
                                </form>
                                </section>
                        </div>
                    </div>
        
                    <span class="footer__copy">
                        &#169; Créé par Batel Tech 2023 | Copyright La Pierre De Lune. Tous droits réservés
                    </span>
                    
                </footer>
        
                <!--=============== MAIN JS ===============-->
                <script src="{% static 'js/main.js' %}"></script>
        
                <!-- Swiper JS -->
                <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        
                <!-- Initialize Swiper -->
                <script>
                    var swiper = new Swiper(".mySwiper", {
                    effect: "coverflow",
                    initialSlide:2,          
                    grabCursor: true,
                    centeredSlides: true,
                    slidesPerView: "auto",
                    coverflowEffect: {
                        rotate: 0,
                        stretch: 0,
                        depth: 300,
                        modifier: 1,
                        slideShadows: false,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    pagination: {
                        el: ".swiper-pagination",
                    },
                    });


                    var activeSlideIndex = swiper.activeIndex;
                    
                    // Récupérez l'attribut "couverture" de la pierre en fonction de l'indice de la diapositive
                    const pierreCards = document.querySelectorAll('.pierre-card');
                    const couverture = pierreCards[activeSlideIndex].getAttribute('data-couverture');
                    
                    // Sélectionnez l'élément avec la classe "pierre__container"
                    const pierreContainer = document.querySelector('.pierre__background');
                    
                    // Définissez l'attribut "backgroundImage" de l'élément comme l'URL de la couverture
                    pierreContainer.style.backgroundImage = `url(${couverture})`;
                    // Centrer l'image de background verticalement
                    pierreContainer.style.backgroundPosition = 'center';


                    // Récupérez les données de l'image et de la description en fonction de l'indice de la diapositive
                    const image = pierreCards[activeSlideIndex].getAttribute('data-image');
                    const description = pierreCards[activeSlideIndex].getAttribute('data-description');
                
                    // Affichez ces données dans l'élément HTML approprié (pierre__image et pierre-text)
                    const pierreImage = document.querySelector('.pierre__image img');
                    const pierreText = document.querySelector('.pierre-text');
                
                    // Mettez à jour le contenu de l'image et de la description
                    pierreImage.src = image;
                    pierreText.textContent = description;


                    


                        // Cette fonction met à jour le contenu en fonction de l'élément actuel
                    function updateContentBasedOnSlide(activeSlideIndex) {

                    const couverture = pierreCards[activeSlideIndex].getAttribute('data-couverture');
                    
                    // Sélectionnez l'élément avec la classe "pierre__container"
                    const pierreContainer = document.querySelector('.pierre__background');
                    
                    // Définissez l'attribut "backgroundImage" de l'élément comme l'URL de la couverture
                    pierreContainer.style.backgroundImage = `url(${couverture})`;
                    // Centrer l'image de background verticalement
                    pierreContainer.style.backgroundPosition = 'center';
                    


                    // Récupérez les données de l'image et de la description en fonction de l'indice de la diapositive
                    const image = pierreCards[activeSlideIndex].getAttribute('data-image');
                    const description = pierreCards[activeSlideIndex].getAttribute('data-description');
                
                    // Affichez ces données dans l'élément HTML approprié (pierre__image et pierre-text)
                    const pierreImage = document.querySelector('.pierre__image img');
                    const pierreText = document.querySelector('.pierre-text');
                
                    // Mettez à jour le contenu de l'image et de la description
                    pierreImage.src = image;
                    pierreText.textContent = description;
                }

                    swiper.on('slideChange', function () {
                        var activeSlideIndex = swiper.activeIndex; // Indice de la diapositive actuelle
                        // Mettez à jour le contenu en fonction de l'élément actuel (par exemple, en utilisant AJAX pour charger des données dynamiques)
                        updateContentBasedOnSlide(activeSlideIndex);
                    });

                </script>

    </body>
</html>