{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Découvrez La Pierre de Lune - un lieu magique à Mazamet, France, fondé par Sandra Delavacherie.
                                         Explorez notre collection de bijoux uniques et de pierres de lithothérapie.
                                          Profitez également de services de voyance avec Sandra pour éclairer votre chemin.">

        <!-- When shared on Facebook -->
        <meta property="og:title" content="La Pierre de Lune - Magasin de lithothérapie et voyance" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Découvrez La Pierre de Lune, un magasin de lithothérapie dirigé par Sandra Delavacherie. Nous proposons des bijoux en pierres de lithothérapie et des services de voyance. Basé à Mazamet, France." />
        <meta property="og:image" content="https://raw.githubusercontent.com/bateltech/django-ecommerce-lpdl/main/eshop/static/img/logo.webp" />
        <meta property="og:url" content="https://www.lapierredelune.fr/" />

        <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "La Pierre de Lune",
        "image": "https://raw.githubusercontent.com/bateltech/django-ecommerce-lpdl/main/eshop/static/img/logo.webp",
        "url": "https://www.lapierredelune.fr/",
        "telephone": "+33563596168",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "14 Pl. Gambetta",
            "addressLocality": "Mazamet",
            "postalCode": "81200",
            "addressCountry": "France"
        },
        "founder": {
            "@type": "Person",
            "name": "Sandra Delavacherie",
            "jobTitle": "Créatrice de bijoux en pierres de lithothérapie"
        },
        "description": "La Pierre de Lune est un magasin spécialisé dans les bijoux en pierres de lithothérapie dirigé par Sandra Delavacherie. Nous proposons également des services de voyance. Basé à Mazamet, France.",
        "sameAs": [
            "https://www.facebook.com/lapierredelune2",
            "https://www.instagram.com/la_pierre_de_.lune/",
            "https://www.tiktok.com/@lapierredelune"
        ]
        }
        </script>

        
        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'img/logo_trans.png' %}" type="image/x-icon">

        <!--=============== REMIXICONS ===============-->
        <!-- <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"> -->
        
        <!--=============== FONTAWESOME ==============-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        
        <!--=============== BOOTSTRAP ==============-->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> -->

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
        

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <title>La pierre de lune</title>
    </head>
    
    <body>
        {% block content %}
        
        {% endblock %}

                <!--==================== FOOTER ====================-->
                <footer class="footer" style="background-color:#414141;">
                    <div class="row">
                        <div class="column" style="background-color:#414141;">
                            <h2 style="color: white;">Menu Principal</h2>
                            <ul class="footer__menu__principal">
                                <li class="footer__link"><a href="{% url 'accueil' %}" >ACCUEIL</a></li>
                                <li class="footer__link"><a href="{% url 'accueil' %}#collection" >COLLECTION</a></li>
                                <li class="footer__link"><a href="{% url 'accueil' %}#artist" >ARTISTE</a></li>
                                <li class="footer__link"><a href="{% url 'articles' %}" >ARTICLES</a></li>
                                <li class="footer__link"><a href="{% url 'accueil' %}#voyance" >VOYANCE</a></li>
                            </ul>
                        </div>
                        <div class="column" style="background-color:#414141;">
                            <h2 style="color: white;">Aide</h2>
                            <ul class="footer__aide">
                                <li class="footer__link"><a href="{% url 'conditions' %}" >CONDITIONS GÉNÉRALES</a></li>
                                <li class="footer__link"><a href="{% url 'mentions' %}" >MENTIONS LÉGALES</a></li>
                            </ul>
        
                        </div>
                        <div class="column" style="background-color:#414141;">
                            <h2 style="color: white;">La Pierre De Lune</h2>
                            <ul class="footer__contact">
        
                                <li class="footer__link">
                                    <img src="{% static 'img/attherate-icon.svg' %}" alt="email icon">
                                    <a href="mailto:sandramedium@hotmail.com">sandramedium@hotmail.com</a></li>
        
                                <li class="footer__link">
                                    <img src="{% static 'img/phone-outline-icon.svg' %}" alt="phone icon">
                                    <a href="tel:+33563596168" >05 63 59 61 68</a></li>
                            </ul>
        
                            <ul class="footer__social">
                                <a href="https://www.facebook.com/lapierredelune2" target="_blank" aria-label="Page officielle Facebook La Pierre De Lune"> <i class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/la_pierre_de_.lune/" target="_blank"  aria-label="Page officielle Instagram La Pierre De Lune"> <i class="fa-brands fa-instagram"></i></a>
                                <a href="https://www.tiktok.com/@lapierredelune" target="_blank"  aria-label="Compte officiel Tiktok La Pierre De Lune"> <i class="fa-brands fa-tiktok"></i></a>
                            </ul>
                            
                        </div>
                        <div class="column" style="background-color:#414141;">
        
                            <section class="newsletter">
                                <h2 class="heading">
                                    Abonnez-vous à ma newsletter
                                </h2>
        
                                <p>
                                    Découvrez mes dernières créations et plein d'autres infos intéressantes!
                                </p>
        
                                <form>
                                  <input id="newsletter-input" type='text' placeholder="  Entrez votre email"><br/>
                                  <button class="btn" role="button">
                                    Soumettre
                                  </button>
                                </form>
                                </section>
                        </div>
                    </div>
        
                    <span class="footer__copy">
                        &#169; Créé par Batel Tech 2023 | Copyright La Pierre De Lune. Tous droits réservés
                    </span>
                    
                </footer>
        
                
                <!--========== SCROLL UP ==========-->
                <a href="#" class="scrollup" id="scroll-up" aria-label="barre de scroll"> 
                    <i class="fa-solid fa-arrow-up"></i>
                </a>

                <!--=============== SCROLLREVEAL ===============-->
                <script src="https://unpkg.com/scrollreveal"></script>

                <!--=============== MAIN JS ===============-->
                <script src="{% static 'js/main.js' %}"></script>
        
                <!-- Swiper JS -->
                <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

                <!--=============== MAIN JS ===============-->
                <script src="{% static 'js/main.js' %}"></script>
        
                <!-- Initialize Swiper -->
                <script>
                   var swiper = new Swiper(".accueilSwiper", {
                                    effect: "coverflow",
                                    initialSlide:2,          
                                    grabCursor: true,
                                    centeredSlides: true,
                                    slidesPerView: "auto",
                                    coverflowEffect: {
                                        rotate: 0,
                                        stretch: 0,
                                        depth: 300,
                                        modifier: 1,
                                        slideShadows: false,
                                    },
                                    navigation: {
                                        nextEl: '.swiper-button-next',
                                        prevEl: '.swiper-button-prev',
                                    },
                                    pagination: {
                                        el: ".swiper-pagination",
                                    },
                                    });
</script>                
    </body>
</html>