{% extends 'base.html' %}
{% load static %}

{% block content %}


<!--==================== HEADER ====================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/vader/jquery-ui.min.css" integrity="sha512-b+rStEv2LsoFlPtCVrnze9rzblG5UM3clN0yt94YKe0wqG2q2j5NZ47qcybd4ThhH+OX+4KXGWdK80gjjtsxGQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<link rel="stylesheet" href="{% static 'css/log_style.css' %}">

<header role="banner" class="header" id="header">

    <!--==================== TOP BAR ====================-->
    <div class="top__bar">

           <div class="search__container">
            <a href="{% url 'panier' %}" style="width: 50px;"><i class="bi bi-cart3 fa-2x"></i></a>
            <a href="{% url 'favoris' %}" style="width: 50px;"><i class="bi bi-suit-heart fa-2x"></i></a>
            <a href="#" id="searchIcon"><i class="bi bi-search fa-2x" style="width: 50px;"></i></a>
           </div>

           <a href="{% url 'accueil' %}" class="logo__prin">
            <img id="logo" src="{% static 'img/logo.png'%}">
           </a>


                   {% if utilisateur_connecte %}


                   <div class="shop__container">
                    <a href="{% url 'deconnexion' %}"><button class="log__button">Se déconnecter
                        <i class="fa fa-sign-out"></i>
                    </button></a>
                    <a href="{% url 'profil' %}"><button class="log__button" >
                        <i class="far fa-circle-user fa-lg" style="padding: 0; padding-right: 5px; "></i>
                        {{ prenom_utilisateur }}
                        <i class="fa-solid fa-chevron-down" style="padding: 0;"></i>
                    </button></a>
                   </div>


                   {% else %}

                   <div class="shop__container">
                    <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire</button></a>
                    <a href="{% url 'connexion' %}"><button class="log__button">Se connecter</button></a>
                   </div>


                   {% endif %} 


    </div>

    <div  class="separation_img" style="display: flex; justify-content: space-around; align-items: center;">
        <img src="{% static 'img/Vector.png'%}" alt="separation" style="width: auto; padding: 2rem;">
    </div>

    <!--==================== NAVIGATION BAR ====================-->
    <nav class="nav container" id="nav_bar">
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav__item">
                    <a href="{% url 'accueil' %}" class="nav__link">
                        <i class="fa-regular fa-moon"></i>
                         Accueil
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'accueil' %}#collection" class="nav__link">
                        <i class="fa-solid fa-shapes"></i>
                         Collection
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'accueil' %}#artist" class="nav__link anchor__link">
                        <i class="fa-solid fa-person-rays"></i>
                         Artiste
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'articles' %}" class="nav__link">
                        <i class="ri-store-2-line"></i>
                         Articles
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'pierres' %}" class="nav__link">
                        <i class="fa-regular fa-gem"></i>
                         Pierres
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'accueil' %}#voyance" class="nav__link">
                        <i class="fa-solid fa-hand-sparkles"></i>
                         Voyance
                    </a>
                </li>

            </ul>

            <!--Close button-->
            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>

        <a href="{% url 'accueil' %}" class="nav__logo">
            <img src="{% static 'img/logo_mb.png' %}" style="width: auto; height: 2rem;">
           </a>
           
        <div class="nav__buttons">

            <a href="{% url 'panier' %}"><i class="bi bi-cart3 fa-lg"></i></a>
            <a href="{% url 'favoris' %}"><i class="bi bi-suit-heart fa-lg"></i></a>
            <a href="#" id="searchIcon"><i class="bi bi-search fa-lg" style="width: 50px;"></i></a>
            
            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-4-line"></i>
            </div>
        </div>
    </nav>

        </header>


        <!--=============== LOG HEADER BUTTONS ==================-->

        <!-- Mobile version -->

        {% if utilisateur_connecte %}

        <div class="log__container">
            <a href="{% url 'profil' %}"><button class="log__button" >
                <i class="far fa-circle-user fa-lg" style="padding: 0; padding-right: 5px; "></i>
                {{ prenom_utilisateur }}
                <i class="fa-solid fa-chevron-down" style="padding: 0;"></i>
            </button></a>

            <a href="{% url 'deconnexion' %}"><button class="log__button">Se déconnecter
                <i class="fa fa-sign-out"></i>
            </button></a>

        </div>

        {% else %}

        <div class="log__container">
            <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire
                <i class="fa fa-user-plus"></i>
            </button></a>
            <a href="{% url 'connexion' %}"><button class="log__button">Se connecter
                <i class="fa fa-sign-in"></i>
            </button></a>
        </div>

        {% endif %}
        

<!--==================== MAIN ====================-->
<main class="main user-main">

    <!--==================== PROFILE ====================-->
      
    
        <!-- Sidebar Menu -->
        <aside role="tablist" class="aside-tab">
            <p> </p>
            <a href="">
              Informations personnelles
            </a>
            <a href="{% url 'securite' %}">
              Sécurité
            </a>
            <a href="{% url 'historique' %}">
              Historiques des achats
            </a>
            <!-- <a href="">
              Mes commandes -->
            </a>
            <a href="{% url 'favoris' %}">
              Mes favoris
            </a>
            <a class="active" href="">
              Mes commentaires
            </a>
        </aside>

        <!-- Sidebar Menu Mobile Ver -->
        <div class="sidebar">
            <a href="#" class="side-closebtn" onclick="closeNav()">&times;</a>
            <a href="{% url 'profil' %}"><i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;Mon profil</a>
            <a href="{% url 'securite' %}"><i class="fas fa-shield-alt"></i>&nbsp;&nbsp;&nbsp;Sécurité</a>
            <a href="{% url 'historique' %}"><i class="fas fa-history"></i>&nbsp;&nbsp;&nbsp;Historique</a>
            <a href="{% url 'favoris' %}"><i class="fas fa-heart"></i>&nbsp;&nbsp;&nbsp;Favoris</a>
            <a href="#" class="active-sidebar"><i class="fas fa-comments"></i>&nbsp;&nbsp;&nbsp;Commentaires</a>
          </div>
          

    <div class="profil__main">

        <span class="side-openbtn" onclick="openNav()">&#9776;</span>


        <section class="profil__section" id="profil-1">
            <div class="profile-info">


            
                {% for msg in messages %}

                <div class="alert success-alert">
                    <h3 class="msg-content">{{msg}}</h3>
                    <a class="close">&times;</a>
                  </div>
                  
                {% endfor %}


                <h2 style="margin: 2rem 0 2rem 0;">MON PROFIL</h2>

                <form class="personal-info" id="personal-info-form" method="post" action="{% url 'update_personal_info' %}">
                    {% csrf_token %}
                    <h3 style="margin: 2rem 0 2rem 0;">Informations Personnelles</h3>
                    <hr class="divider">
                
                    <div class="input-group">
                        <label for="{{ form.nom.id_for_label }}">Nom</label>
                        {{ form.last_name }}
                    </div>
                
                    <div class="input-group">
                        <label for="{{ form.prenom.id_for_label }}">Prénom</label>
                        {{ form.first_name }}
                    </div>
                
                    <div class="input-group">
                        <label for="{{ form.dob.id_for_label }}">Date de naissance</label>
                        {{ form.birthdate }}
                    </div>
                
                    <div class="input-group">
                        <label for="{{ form.email.id_for_label }}">Adresse email</label>
                        {{ form.email }}
                    </div>
                
                    <div class="input-group">
                        <label for="{{ form.phone.id_for_label }}">Numéro de téléphone</label>
                        {{ form.phone }}
                    </div>
                
                    <button class="profil-button" type="submit">Sauvegarder</button>
                </form>

            </div>

            <script>
            
            /*============ ALERT MESSAGE CLOSE ============*/
            $(".close").click(function() {
                $(this)
                .parent(".alert")
                .fadeOut();
            });
            
            </script>
            
        </section>

    </div>


</main>

{% endblock %}