{% extends 'base.html' %}
{% load static %}

{% block title %}Connexion - La pierre de lune{% endblock %}

{% block content %}

        <link rel="stylesheet" href="{%static 'css/log_style.css'%}">
        <!--==================== HEADER ====================-->
        <header role="banner" class="header" id="header">

            <!--==================== TOP BAR ====================-->
            <div class="top__bar">

                   <div class="search__container">
                    <a href="{% url 'panier' %}" style="width: 50px;" aria-label="icône de panier"><i class="bi bi-cart3 fa-2x"></i></a>
                    <a href="{% url 'favoris' %}" style="width: 50px;" aria-label="icône de favoris"><i class="bi bi-suit-heart fa-2x"></i></a>
                    <a href="#" class="search__icon" aria-label="icône de recherche"><i class="bi bi-search fa-2x" style="width: 50px;"></i></a>
                   </div>

                   <a href="{% url 'accueil' %}" class="logo__prin">
                    <img id="logo" src="{% static 'img/logo.webp'%}">
                   </a>

                   <div class="shop__container">
                    <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire</button></a>
                    <a href="{% url 'connexion' %}"><button class="log__button">Se connecter</button></a>
                   </div>
            </div>

            <div  class="separation_img" style="display: flex; justify-content: space-around; align-items: center;">
                <img src="{% static 'img/Vector.webp'%}" alt="separation" style="width: auto; padding: 2rem;">
            </div>

            <!--==================== NAVIGATION BAR ====================-->
            <nav class="nav container" id="nav-bar">
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list grid">
                        <li class="nav__item">
                            <a href="{% url 'accueil' %}" class="nav__link">
                                <i class="fa-regular fa-moon"></i>
                                 Accueil
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'accueil' %}#collection" class="nav__link">
                                <i class="fa-solid fa-shapes"></i>
                                 Collection
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'accueil' %}#artist" class="nav__link anchor__link">
                                <i class="fa-solid fa-person-rays"></i>
                                 Artiste
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'articles' %}" class="nav__link">
                                <i class="fa-solid fa-store"></i>
                                 Articles
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'pierres' %}" class="nav__link">
                                <i class="fa-regular fa-gem"></i>
                                 Pierres
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'accueil' %}#voyance" class="nav__link">
                                <i class="fa-solid fa-hand-sparkles"></i>
                                 Voyance
                            </a>
                        </li>

                    </ul>

                    <!--Close button-->
                    <div class="nav__close" id="nav-close">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                
                <a href="{% url 'accueil' %}" class="nav__logo">
                    <img src="{% static 'img/logo_mb.webp' %}" style="width: auto; height: 2rem;">
                   </a>
                   
                <div class="nav__buttons">

                    <a href="{% url 'panier' %}"><i class="bi bi-cart3 fa-lg"></i></a>
                    <a href="{% url 'favoris' %}"><i class="bi bi-suit-heart fa-lg"></i></a>
                    <a href="#" class="search__icon" aria-label="icône de recherche"><i class="bi bi-search fa-lg" style="width: 50px;"></i></a>
                    
                    <!-- Toggle button -->
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="fa-solid fa-bars-staggered"></i>
                    </div>
                </div>
            </nav>

        
                </header>


        <!--=============== LOG HEADER BUTTONS ==================-->

        <!-- Mobile version -->

        {% if utilisateur_connecte %}

        <div class="log__container">
            <a href="{% url 'profil' %}"><button class="log__button" >
                <i class="far fa-circle-user fa-lg" style="padding: 0; padding-right: 5px; "></i>
                {{ prenom_utilisateur }}
                <i class="fa-solid fa-chevron-down" style="padding: 0;"></i>
            </button></a>

            <a href="{% url 'deconnexion' %}"><button class="log__button">Se déconnecter
                <i class="fa fa-sign-out"></i>
            </button></a>

        </div>

        {% else %}

        <div class="log__container">
            <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire
                <i class="fa fa-user-plus"></i>
            </button></a>
            <a href="{% url 'connexion' %}"><button class="log__button">Se connecter
                <i class="fa fa-sign-in"></i>
            </button></a>
        </div>

        {% endif %}
        

        <!--==================== MAIN ====================-->
        <main class="main">

            <!--==================== CONNEXION ====================-->
                    
                <section class="connexion__section">
                    <h1 class="connexion__title">CONNEXION</h1>
                        <div class="connexion__container">
                            <p class="register__message">Vous n'avez pas de compte? <a href="{% url 'inscription' %}">Inscrivez-vous</a></p>
                            <form class="login__form" method="post">
                                {% csrf_token %}
                                <div style="color: red; padding-bottom: 1rem;">
                                {{ form.non_field_errors }}
                                </div>
                                {{ form.username }}
                                {{ form.username.errors }}

                                {{ form.password }} 
                                {{ form.password.errors }}

                                <div class="button__container">
                                    <button type="submit" class="login__button">Connexion</button>
                                    <p class="reset__message"><a href="{% url 'reset_password_process' %}">Mot de passe oublié?</a></p>
                                </div>
                            </form>
                            
                            </div>
                </section>


        </main>


{% endblock %}