{% extends 'base.html' %}
{% load static %}

{% block title %} {{article.libelle}} - La pierre de lune{% endblock %}

{% block content %}

<!-- Inclure Swiper -->

<style>
    .card-container {
        display: flex;
        /*overflow-x: auto;*/
        gap: 0.5rem;
        padding: 0.5rem;
        margin: 0 2rem;
    }


    .articles_similaires {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between !important;
        align-items:center !important;
        overflow: hidden !important;
    
    }

    .swiper-wrapper {
        margin: 0 2rem !important;
        justify-content: center;
    }

    /* .card { */
    .proposed_article {
        position: relative;
        flex: 0 0 calc(20% - 5px); /* Display 4 cards per row */
        height: 442px; /* Adjust as needed */
        background-size: cover !important;
        background-position: center !important;
        border-radius: 1rem !important;
        overflow: hidden;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0.75rem;
        background-color: rgba(255, 255, 255, 0.7); /* Transparent white background */
    }

    .overlay h3, .overlay p {
        margin: 0;
        font-size: 15px;
        color: black;
    }

    .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .pagination button {
        padding: 0.5rem 0.75rem;
        margin: 0 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    .swiper-container {
    position: relative;
    
}

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        /* Autres styles de positionnement selon vos besoins */
        text-align: center;
        height: 50% !important;
        padding: 3rem 1.5rem !important;
        background-color: rgba(50, 50, 50, 0.6);
    }

    .next__article {
        color: white !important;
        box-shadow: none !important;
        float: right !important;
        margin-right: 0.5rem !important;
    }

    .prev__article {
        color: white !important;
        box-shadow: none !important;
        float: left !important;
        margin-left: 0.5rem !important;
    }

    .swiper-pagination {
        display: none;
    }

    .autres_article {
        position: relative;
        
        margin-bottom: 7rem !important;
    }

    .details__favoris {
        cursor: pointer;
        width: 41px;
        height: 41px;
        border-radius: 50px;
        border: none;
    }

    .favoris__icon--inactive {
        background-image: url('/static/img/icon_detail_favoris.svg');
        background-repeat: no-repeat;
        background-position: center;
        /* Autres styles */
    }

    .favoris__icon--active {
        background-image: url('/static/img/favoris_active.svg');
        background-repeat: no-repeat;
        background-position: center;
        /* Autres styles */
    }

    #breadcrumb {
        color: white;
        font-size: 15px; 
        padding-left: 8rem;
        margin-bottom: 1rem;
    }

    #category-sidebar {
        height: 106vh;
        border-bottom: 1px solid #cccccc;
    }

    .details__section {
        padding-block: 2rem;
        margin: 2rem;
        border-bottom: 1px solid #cccccc;
    }

    .flex-container {
        display: grid;
        grid-template-columns: 35% auto;
        grid-auto-flow: column;
        align-items: start;
        justify-content: space-evenly;
    }

    .card_image {
        display: flex;
        padding: 20px;
        justify-content: center;
        border-radius: 2em;
    }

    #article__image {
        width: 26rem;
        height: 39rem;
        object-fit: cover;
        padding: 5px;
        border: solid 1px rgba(255, 255, 255, 0.5);
        border-radius: 2em;
    }

    .card_content {
        margin-top: 1rem;
        padding: 0.75rem;
        padding-left: 2rem;
        width: 44rem;
        border-left: 1px solid #cccccc;
    }

    .accueil__line {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 30rem;
    }

    #size {
        border-radius: 40px;
        border: 0.50px white solid;
        background-color: black;
        color: white;
        padding: 0.5rem;
        font-size: 18px;
    }

    #in-stock,
    #out-stock {
        width: 20.2rem;
        height: 40px;
        border-radius: 20px;
        padding: 0.75rem 0.75rem;
        margin: 0.75rem;
        display: flex;
        align-items: center;
    }
    
    #in-stock {
        background: #D9D9D9;
    }

    #out-stock {
        background: #d8bbbb;
    }

    #shortDesc,
    #fullDesc {
        width: 30rem;
        text-align: justify;
    }

</style>

<link rel="stylesheet" href="{% static 'css/log_style.css' %}">
        <!--==================== HEADER ====================-->
        <header role="banner" class="header" id="header">

            <!--==================== TOP BAR ====================-->
            <div class="top__bar">

                   <div class="search__container">
                    {% if utilisateur_connecte %}
                    <a href="{% url 'panier' %}" style="width: 50px;" aria-label="icône de panier"><i class="bi bi-cart3 fa-2x"></i></a>
                    <a href="{% url 'favoris' %}" style="width: 50px;" aria-label="icône de favoris"><i class="bi bi-suit-heart fa-2x"></i></a>
                    {% else %}
                    <a href="#" style="width: 50px;" aria-label="icône de panier" id="not_connected_cart"><i class="bi bi-cart3 fa-2x"></i></a>
                    <a href="#" style="width: 50px;" aria-label="icône de favoris" id="not_connected_favoris"><i class="bi bi-suit-heart fa-2x"></i></a>
                    {% endif %}

                    <a href="#" class="search__icon" aria-label="icône de recherche"><i class="bi bi-search fa-2x" style="width: 50px;"></i></a>
                   </div>

                    <!-- Barre de recherche -->
                    
                    <div id="searchBar" class="search-bar">
                        <form id="search-form" method="post" autocomplete="off">
                            {% csrf_token %}
                        <input type="text" id="searchInput" placeholder="Rechercher...">
                        </form>
                        <div id="results-box" class="results-card" style="display:none"></div>
                    </div>
                
                    <!-- Script to log search input to console -->

                    <script>
                        $(document).ready(function() {

                            const searchForm = document.getElementById('search-form');
                            const searchInput = document.getElementById('searchInput');
                            const resultsBox = document.getElementById('results-box');

                            const searchFormMobile = document.getElementById('search-form-mobile');
                            const searchInputMobile = document.getElementById('searchInputMobile');
                            const resultsBoxMobile = document.getElementById('results-box-mobile');

                            const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;

                            function sendSearchData(form, input, results) {
                                $.ajax({
                                    type: 'POST',
                                    url: '{% url "search" %}',
                                    data: {
                                        'csrfmiddlewaretoken': csrf,
                                        'article': input.value,
                                    },
                                    success: function(res) {
                                        let data = res.data;
                                        if (Array.isArray(data)) {
                                            results.innerHTML = '';
                                            data.forEach(article => {
                                                let articleContainer = document.createElement('a');
                                                articleContainer.onclick = function() {
                                                    window.location.href = "/details/" + article.id;
                                                };
                                                articleContainer.classList.add('link', 'article-container');

                                                let imgElement = document.createElement('img');
                                                imgElement.src = article.image;
                                                imgElement.alt = article.name;
                                                imgElement.classList.add('article-img');
                                                imgElement.style.marginRight = '10px';

                                                let nameElement = document.createElement('h5');
                                                nameElement.textContent = article.name;
                                                nameElement.style.color = 'black';

                                                articleContainer.appendChild(imgElement);
                                                articleContainer.appendChild(nameElement);

                                                results.appendChild(articleContainer);
                                            });
                                        } else {
                                            if (input.value.length > 0) {
                                                results.innerHTML = `<b>${data}</b>`;
                                            } else {
                                                results.innerHTML = '';
                                                results.style.display = 'none';
                                            }
                                        }
                                    },

                                    error: function(err) {
                                        console.log(err);
                                    },
                                });
                            }

                            searchInput.addEventListener('input', function(e) {
                                const searchQuery = e.target.value.trim();
                                if (searchQuery.length > 0) {
                                    resultsBox.style.display = 'block';
                                } else {
                                    resultsBox.style.display = 'none';
                                }
                                sendSearchData(searchForm, searchInput, resultsBox);
                            });

                            searchInputMobile.addEventListener('input', function(e) {
                                const searchQuery = e.target.value.trim();
                                if (searchQuery.length > 0) {
                                    resultsBoxMobile.style.display = 'block';
                                } else {
                                    resultsBoxMobile.style.display = 'none';
                                }
                                sendSearchData(searchFormMobile, searchInputMobile, resultsBoxMobile);
                            });
                            });
                    </script>

                   <a href="{% url 'accueil' %}" class="logo__prin">
                    <img id="logo" src="{% static 'img/logo.webp' %}" alt="logo lpdl">
                   </a>

                   {% if utilisateur_connecte %}


                   <!-- Desktop version -->
                   <div class="shop__container">
                    <a href="{% url 'deconnexion' %}"><button class="log__button">Se déconnecter
                        <i class="fa fa-sign-out"></i>
                    </button></a>
                    <a href="{% url 'profil' %}"><button class="log__button" >
                        <i class="far fa-circle-user fa-lg" style="padding: 0; padding-right: 0.5rem; "></i>
                        {{ prenom_utilisateur }}
                        <i class="fa-solid fa-chevron-down" style="padding: 0;"></i>
                    </button></a>
                   </div>
                

                   {% else %}

                   <div class="shop__container">
                    <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire
                        <i class="fa fa-user-plus"></i>
                    </button></a>
                    <a href="{% url 'connexion' %}"><button class="log__button">Se connecter
                        <i class="fa fa-sign-in"></i>
                    </button></a>
                   </div>

                   {% endif %}
                   
            </div>

            <div  class="separation_img" style="display: flex; justify-content: space-around; align-items: center;">
                <img src="{% static 'img/Vector.webp' %}" alt="separation" style="width: auto; padding: 2rem;">
            </div>

            <!--==================== NAVIGATION BAR ====================-->
            <nav class="nav container" id="nav-bar">
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list grid">
                        <li class="nav__item">
                            <a href="{% url 'accueil' %}" class="nav__link">
                                <i class="fa-regular fa-moon"></i>
                                 Accueil
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'accueil' %}#collection" class="nav__link">
                                <i class="fa-solid fa-shapes"></i>
                                 Collections
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'accueil' %}#artist" class="nav__link">
                                <i class="fa-solid fa-person-rays"></i>
                                 Artiste
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'articles' %}" class="nav__link active-link">
                                <i class="fa-solid fa-store"></i>
                                 Articles
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'pierres' %}" class="nav__link">
                                <i class="fa-regular fa-gem"></i>
                                 Pierres
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="{% url 'accueil' %}#voyance" class="nav__link">
                                <i class="fa-solid fa-hand-sparkles"></i>
                                 Voyance
                            </a>
                        </li>
                        
                    </ul>

                    <!--Close button-->
                    <div class="nav__close" id="nav-close">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                
                <a href="{% url 'accueil' %}" class="nav__logo">
                    <img src="{% static 'img/logo_mb.webp' %}" style="width: auto; height: 2rem;" alt="logo version mobile">
                   </a>
                   
                <div class="nav__buttons">

                    {% if utilisateur_connecte %}
                    <a href="{% url 'panier' %}"><i class="bi bi-cart3 fa-lg"></i></a>
                    <a href="{% url 'favoris' %}"><i class="bi bi-suit-heart fa-lg"></i></a>
                    {% else %}
                    <a id="not_connected_cart"><i class="bi bi-cart3 fa-lg"></i></a>
                    <a id="not_connected_favoris"><i class="bi bi-suit-heart fa-lg"></i></a>
                    {% endif %}

                    <a href="#" class="search__icon" aria-label="icône de recherche"><i class="bi bi-search fa-lg" style="width: 50px;"></i></a>
                    
                    <!-- Toggle button -->
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="fa-solid fa-bars-staggered"></i>
                    </div>
                </div>
            </nav>

        
        </header>

        <!--=============== LOG HEADER BUTTONS ==================-->

        <!-- Mobile version -->

        {% if utilisateur_connecte %}

        <div class="log__container">
            <a href="{% url 'profil' %}"><button class="log__button" >
                <i class="far fa-circle-user fa-lg" style="padding: 0; padding-right: 0.5rem; "></i>
                {{ prenom_utilisateur }}
                <i class="fa-solid fa-chevron-down" style="padding: 0;"></i>
            </button></a>

            <a href="{% url 'deconnexion' %}"><button class="log__button">Se déconnecter
                <i class="fa fa-sign-out"></i>
            </button></a>

        </div>

        {% else %}

        <div class="log__container">
            <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire
                <i class="fa fa-user-plus"></i>
            </button></a>
            <a href="{% url 'connexion' %}"><button class="log__button">Se connecter
                <i class="fa fa-sign-in"></i>
            </button></a>
        </div>

        {% endif %}

            <!-- Barre de recherche Mobile -->
    <div id="searchBarMobile" class="search-bar-mobile" style="display: none;">
        <form id="search-form-mobile" method="post" autocomplete="off">
            {% csrf_token %}
            <input type="text" id="searchInputMobile" placeholder="Rechercher...">
        </form>
        <div id="results-box-mobile" class="results-card-mobile" style="display:none"></div>
    </div>
    
        <!--==================== MAIN ====================-->
        <main class="main">
            <div style="margin: 2rem; border-bottom: solid 1px white;">
                <p id="breadcrumb" >Articles / {{article.categorie.libelle}} / {{article.sous_categorie.libelle}} / {{article.libelle}}</p>
            </div>

            <!--==================== ARTICLES ====================-->
            <div class="details__main">

                <!-- Sidebar categories -->
                <!-- <aside id="category-sidebar">
                    <p> </p>
                    {% for category in categories %}
                    <a href="#" class = "category" category-id="{{ category.libelle }}">
                      {{ category.libelle }}
                    </a>
                    {% endfor %}
                </aside> -->

                <section class="details__section">
                    <div class="flex-container">
                        <div class="card_image">
                            <img id="article__image" src="{{ article.image.url }}" alt="{{ article.libelle }}">
                        </div>

                        <div class="card_content">
                            <h1>{{article.libelle}}</h1>
                            <div class="accueil__line"></div>
                            <div style="display: -webkit-flex;">
                                {% if price.type_prix == "size_based" %}

                                <div style="margin: 0.75rem; display: flex; flex-direction: column; justify-content: flex-start;">
                                    <label style="margin-top: 0.5rem; color: white; font-size: 20px; margin-bottom: 0.75rem; font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;">Taille<br></label>
                                    <select name="size" id="size">
                                        {% for p in prices %}

                                        <option value={{p.prix}} id={{p.id}} style="color: white; font-size: 20px;"> 
                                            {{p.taille}} cm
                                        </option>

                                        {% endfor %}

                                    </select>
                    
                                </div>

                                <div style="margin: 0.75rem; display: flex; flex-direction: column; justify-content: flex-start;">
                                    <label style="margin-top: 0.5rem; color: white; font-size: 20px; margin-bottom: 0.75rem; font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;">Prix</label>
                                    <p id="prixparTaille" style="margin-top: 0.5rem; color: white; font-size: 20px;">{{price.prix}} €</p>
                                </div>


                                {% else %}

                                <div style="margin: 0.75rem; display: flex; flex-direction: column; justify-content: flex-start;">
                                    <label style="margin-top: 0.5rem; color: white; font-size: 20px; margin-bottom: 0.75rem; font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;">Prix</label>
                                    <p style="margin-top: 0.5rem; color: white; font-size: 20px;">{{price.prix}} €</p>
                                </div>
                                
                                {% endif %}
                            </div>

                            <div style="display: -webkit-flex; padding-bottom: 2rem;">
                                
                                <!-- 
                                <div class="StarReview" style="width: 161.32px; height: 24.38px; position: relative">

                                </div>
                                <span style="color: white;"> 4.5</span>
                                <div class="Line10" style="width: 19.30px; height: 0px; transform: rotate(90.42deg); transform-origin: 0 0; border: 1px #D9D9D9 solid; margin: 0.75rem;"></div>
                             -->
                                <!-- <a href="http://127.0.0.1:8000/" style="color: white; font-size: 15px;"> Voir les avis </a> -->
                                                            <!-- Display ribbon_promo for each active promo associated with the article -->
                                {% for promo in active_promos %}
                                {% if article in promo.articles.all %}
                                    <div class="ribbon_promo">- {{ promo.discount_percentage|floatformat:"0" }}%</div>
                                {% endif %}
                                {% endfor %}
                            </div>

                            <div class="accueil__line"></div>

                            {% if article.stock > 0 %}
                            <div id="in-stock">
                                <img src="{% static 'img/icon_detail_valider.svg' %}" alt="icon valider" style="width: 19.55px; height: 17.14px;"/>
                                <span style="color: #555555; font-size: large; margin-left: 0.75rem;"> en stock</span>
                                
                            </div>
                            {% else %}
                            <div id="out-stock">
                                <img src="{% static 'img/icon_detail_close.svg' %}" alt="icon close" style="width: 20.55px; height: 17.14px;"/>
                                <span style="color: #811414; font-size: large; margin-left: 0.75rem;"> rupture de stock</span>
                                
                            </div>
                            {% endif %}
                            <div class="ajout_favoris" style="display: -webkit-flex; margin: 0.75rem;">
                                <form id="add-to-cart-form" method="POST" action="{% url 'add_to_cart' %}" class="details__ajout">
                                    {% csrf_token %}
                                    <input id="price_Taille" type="hidden" name="price_id" value="{{ price.id }}">
                                    <input type="hidden" name="article_id" value="{{ article.id }}">
                                    <button type="submit" class="login__button ajout_panier" style="width: 250px;">Ajouter au panier </button>
                                </form>
                                

                                <button class="details__favoris add-to-wishlist-btn {% if favoris %}favoris__icon--active{% else %}favoris__icon--inactive{% endif %}" data-article-id="{{ article.id }}">
                                </button>
                                
                                
                            </div>

                            <div style="display: -webkit-flex; padding: 0.75rem 0.75rem;">
                                <img src="{% static 'img/camion.svg' %}" style="width: 29.33px; height: 30.47px;" alt="camion"/>
                                <span style="width: 280px; height: 26.41px; text-align: center; color: white; font-size: 16px; padding-top: 0.5rem;"> La livraison gratuite à partir de 65 €.</span>

                            </div>
                            <div class="accueil__line"></div>
                            
                            <div class="details__description">
                                <h2 style="margin-bottom: 0.75rem;">Description</h2>
                                
                                {% if article.description|length >= 600 %}
                                    <div id="shortDesc" style="color: white; font-weight: lighter;">{{ article.description|truncatechars:400 }}</div>
                                    <a id="readMore" style="color: white; font-weight: bold;  cursor: pointer;"><ins>Lire plus...</ins></a>

                                    <p id="fullDesc" style="display:none; color: white; font-weight: lighter;">{{ article.description }}</p>
                                
                                    <a id="readLess" style="display: none; color: white; font-weight: bold; cursor: pointer;"><ins>Lire moins</ins></a>
                                {% else %}
                                    <div id="shortDesc" style="color: white; font-weight: lighter;">{{ article.description }}</div>
                                {% endif %}
                                
                                {% if article.tags.all or article.pierres.all %}
                                {% if article.tags.all %}

                                <br><br>
                                <h2 style="margin-bottom: 0.75rem;">Besoins : </h2> 
                                <p style="color: white;">
                                {% for tag in article.tags.all %}
                                    {{ tag.libelle }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% endif %}
                                </p>

                                <br><br>
                            
                                {% if article.pierres.all %}
                                <h2 style="margin-bottom: 0.75rem;">Pierres : </h2>

                                <p style="color: white;">
                                
                                {% for pierre in article.pierres.all %}
                                    {{ pierre.libelle }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}

                                </p>
                                {% endif %}
                

                                {% endif %}
                            </div>

                              
                        </div>
                    </div>
                    
                </section>

            </div>


            <!--==================== AUTRES ARTICLES ====================-->


            <section class="autres_article">
                {% if similar_articles %}
                <h1 class="collection__title" style="padding-top: 4rem !important; margin-bottom: 4rem;">VOUS AIMEREZ AUSSI</h1>
            
                <div class="wrapper_details" style="height: 400px;"> <!-- Définir une hauteur -->
                    
                    <i id="left" class="fa-solid fa-angle-left"></i>
                    
                    <div class="carousel_details">

                        {% for article in similar_articles %}
                        <div class="card proposed_article card_details" style="background-image: url('/media/{{ article.image}}');" onclick="redirectToArticle('{{ article.id }}')">
                            <div class="overlay">
                                <h3 style="font-weight: 900;">{{ article.libelle }}</h3>
                                {% if article.prix_article.first.type_prix == "fixed" %}
                                <p>{{ article.prix_article.first}}</p>
                                {% else %}
                                <p>Par taille - {{ article.prix_article.first.prix}} à {{ article.prix_article.last.prix }} €</p>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <i id="right" class="fa-solid fa-angle-right"></i>
            
                    <!-- Add Pagination -->
                    <!-- <div class="swiper-pagination"></div> -->
                    <!-- Add Navigation -->
                    <!-- <div class="swiper-button-next next__article"></div>
                    <div class="swiper-button-prev prev__article"></div> -->

                </div>

                {% endif %}
            </section>
            
    
            <script>
                console.log('Test');

                /* réduire/afficher la description complète */
                const shortDesc = document.getElementById('shortDesc');
                const fullDesc = document.getElementById('fullDesc');
                const readMore = document.getElementById('readMore');
                const readLess = document.getElementById('readLess');

                readMore.addEventListener('click', () => {
                console.log("read more clicked !");
                shortDesc.style.display = 'none';
                readMore.style.display = 'none';
                fullDesc.style.display = 'block';
                readLess.style.display = 'block';
                });

                readLess.addEventListener('click', () => {
                console.log("read less clicked !");
                shortDesc.style.display = 'block';
                readMore.style.display = 'block';
                fullDesc.style.display = 'none';
                readLess.style.display = 'none';
                });

                const selectedElement = document.getElementById("size");
                const selectedValue = selectedElement.value;
                const inputElement = document.getElementById("price_Taille");

                selectedElement.addEventListener("change",function(event){
                    const selectedOption = selectedElement.options[selectedElement.selectedIndex];
                    const selectedValue = selectedOption.value;
                    console.log('selected value 2', selectedValue);
                    const priceSelected = document.getElementById("prixparTaille");
                    priceSelected.textContent = selectedValue +" €";
                    const selectedId = selectedOption.getAttribute("id");
                    inputElement.setAttribute("value", selectedId);
                    console.log('id : ', inputElement.value);
                })

                console.log('input : ', inputElement.value);
                console.log('selected value', selectedValue);

                function redirectToArticle(articleId) {
                    // Redirect to the article detail page or perform any other action based on the article ID
                    window.location.href = '/details/' + articleId; // Change the URL as needed
                }

            </script>

            <script>
            document.addEventListener('DOMContentLoaded', function() {

                /* Bouton ajouter aux favoris */
                const addToWishlistButtons = document.querySelectorAll('.add-to-wishlist-btn');
                var utilisateurConnecte = {{ utilisateur_connecte|yesno:"true,false" }};
            
                addToWishlistButtons.forEach(button => {
                    button.addEventListener('click', function() {

                    if (utilisateurConnecte) {

                        const articleId = this.getAttribute('data-article-id');
                        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            
                        fetch('/add_to_wishlist/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                                'X-CSRFToken': csrftoken
                            },
                            body: new URLSearchParams({
                                'article_id': articleId
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            // const imgElements = document.querySelectorAll('.favoris__icon'); // Sélectionnez tous les éléments avec la classe
                            // const imgElement = imgElements[0]; 

                            const btnElement = document.querySelector('.add-to-wishlist-btn'); // Sélectionnez le bouton

                            if (data.added) {
                                Toastify({
                                    text: 'Article ajouté à votre liste de souhaits !',
                                    duration: 3000,
                                    gravity: 'top',
                                    position: 'right',
                                    stopOnFocus: true, // Prevents dismissing of toast on hover
                                    style: {
                                        background: "linear-gradient(to right, #00b09b, #96c93d)",
                                    }
                                }).showToast();
                                // imgElement.src = "/static/img/favoris_active.svg";
                                // Changez le background du bouton ici
                                btnElement.classList.add('favoris__icon--active');
                                btnElement.classList.remove('favoris__icon--inactive');

                            } else {

                                Toastify({
                                    text: 'Article retiré de votre liste de souhaits !',
                                    duration: 3000,
                                    gravity: 'top',
                                    position: 'right',
                                    stopOnFocus: true, // Prevents dismissing of toast on hover
                                    style: {
                                        background: "linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113))",
                                    }
                                }).showToast();
                                // imgElement.src = "/static/img/icon_detail_favorie.svg";

                                // Changez le background du bouton ici
                                btnElement.classList.add('favoris__icon--inactive');
                                btnElement.classList.remove('favoris__icon--active');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    }
                    
                    else {

                    Toastify({
                        text: 'Veuillez vous connecter ou vous inscrire pour ajouter des articles à votre liste de souhaits.',
                        duration: 3000,
                        gravity: 'top',
                        position: 'right',
                        stopOnFocus: true,
                        style: {
                            background: "linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113))",
                        }
                    }).showToast();

                    }
                    });
                });
                
                /* Bouton ajouter au panier */
                document.getElementById('add-to-cart-form').addEventListener('submit', 
                function(event) {
                    event.preventDefault(); // Empêcher le formulaire d'être soumis normalement
                
                    if (utilisateurConnecte) {
                        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        const articleId = document.querySelector('input[name="article_id"]').value;
                        const priceId = document.querySelector('input[name="price_id"]').value;

                        fetch('/add_to_cart/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                                'X-CSRFToken': csrftoken
                            },
                            body: new URLSearchParams({
                                'article_id': articleId,
                                'price_id': priceId
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.added_p) {
                                Toastify({
                                    text: 'Article ajouté au panier !',
                                    duration: 3000,
                                    gravity: 'top',
                                    position: 'right',
                                    stopOnFocus: true, // Prevents dismissing of toast on hover
                                    style: {
                                        background: "linear-gradient(to right, #00b09b, #96c93d)",
                                    }
                                }).showToast();
                            }
                            else {
                                Toastify({
                                    text: 'Cet article est en rupture de stock !',
                                    duration: 3000,
                                    gravity: 'top',
                                    position: 'right',
                                    stopOnFocus: true, // Prevents dismissing of toast on hover
                                    style: {
                                        background: "linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113))",
                                    }
                                }).showToast();
                                console.log(`Erreur lors de l'ajout de l'article au panier`);
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });

                    }                 
                    else {
                        Toastify({
                            text: 'Veuillez vous connecter ou vous inscrire pour ajouter des articles à votre panier.',
                            duration: 3000,
                            gravity: 'top',
                            position: 'right',
                            stopOnFocus: true,
                            style: {
                                background: "linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113))",
                            }
                        }).showToast();
                    }
            });
            
                // Sélectionner les icônes not_connected
                var notConnectedCartIcon = document.querySelector('#not_connected_cart');
                var notConnectedFavorisIcon = document.querySelector('#not_connected_favoris');

                if(notConnectedCartIcon){
                // Ajouter un gestionnaire d'événements click à chaque icône
                notConnectedCartIcon.addEventListener('click', function() {
                    showToast('Veuillez vous connecter ou vous inscrire pour accéder au panier.');
                });
                }
                if(notConnectedFavorisIcon){
                notConnectedFavorisIcon.addEventListener('click', function() {
                    showToast('Veuillez vous connecter ou vous inscrire pour accéder à vos favoris.');
                });
                }
                
                // Fonction pour afficher un toast
                function showToast(message) {
                    Toastify({
                        text: message,
                        duration: 3000,
                        gravity: 'top',
                        position: 'right',
                        stopOnFocus: true,
                        style: {
                            background: "linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113))",
                        }
                    }).showToast();
                }
            
            });

            </script>

            <!-- Toastify CSS -->
            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
            <!-- Toastify JS-->
            <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


        </main>
        
        <script src="{% static 'js/slider.js' %}"></script>
{% endblock %}