{% extends 'base.html' %}
{% load static %}

{% block title %} NewsLetter{% endblock %}


{% block content %}
<style>
  

    .container {
    
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 900px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    textarea {
        resize: vertical;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

<div class="container">
<h1>NewsLetter Form</h1>
{% for message in messages %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
<form action="{% url 'sendEmail' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.media.js }}
    {{ form.media.css }}
    <input type="submit" value="Send Email">
</form>

</div>

{% endblock %}