{% extends 'base.html' %}
{% load static %}

{% block title %}Pierres de lithothérapie - La pierre de lune{% endblock %}

{% block content %}



<link rel="stylesheet" href="{% static 'css/log_style.css' %}">
<!--==================== HEADER ====================-->
<header role="banner" class="header" id="header">

    <!--==================== TOP BAR ====================-->
    <div class="top__bar">

           <div class="search__container">
            {% if utilisateur_connecte %}
            <a href="{% url 'panier' %}" style="width: 50px;" aria-label="icône de panier"><i class="bi bi-cart3 fa-2x"></i></a>
            <a href="{% url 'favoris' %}" style="width: 50px;" aria-label="icône de favoris"><i class="bi bi-suit-heart fa-2x"></i></a>
            {% else %}
            <a style="width: 50px;" aria-label="icône de panier" id="not_connected_cart"><i class="bi bi-cart3 fa-2x"></i></a>
            <a style="width: 50px;" aria-label="icône de favoris" id="not_connected_favoris"><i class="bi bi-suit-heart fa-2x"></i></a>
            {% endif %}
            <a href="#search" class="search__icon" aria-label="icône de recherche"><i class="bi bi-search fa-2x" style="width: 50px;"></i></a>
           </div>

                               <!-- Barre de recherche -->
                               <div id="searchBar" class="search-bar">
                                <form id="search-form" method="post" autocomplete="off">
                                    {% csrf_token %}
                                <input type="text" id="searchInput" placeholder="Rechercher...">
                                </form>
                                <div id="results-box" class="results-card" style="display:none"></div>
                            </div>
                        
                            <!-- Script to log search input to console -->
        
                            <script>
                                $(document).ready(function() {

                                    const searchForm = document.getElementById('search-form');
                                    const searchInput = document.getElementById('searchInput');
                                    const resultsBox = document.getElementById('results-box');

                                    const searchFormMobile = document.getElementById('search-form-mobile');
                                    const searchInputMobile = document.getElementById('searchInputMobile');
                                    const resultsBoxMobile = document.getElementById('results-box-mobile');

                                    const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;

                                    function sendSearchData(form, input, results) {
                                        $.ajax({
                                            type: 'POST',
                                            url: '{% url "search" %}',
                                            data: {
                                                'csrfmiddlewaretoken': csrf,
                                                'article': input.value,
                                            },
                                            success: function(res) {
                                                let data = res.data;
                                                if (Array.isArray(data)) {
                                                    results.innerHTML = '';
                                                    data.forEach(article => {
                                                        let articleContainer = document.createElement('a');
                                                        articleContainer.onclick = function() {
                                                            window.location.href = "/details/" + article.id;
                                                        };
                                                        articleContainer.classList.add('link', 'article-container');

                                                        let imgElement = document.createElement('img');
                                                        imgElement.src = article.image;
                                                        imgElement.alt = article.name;
                                                        imgElement.classList.add('article-img');
                                                        imgElement.style.marginRight = '10px';

                                                        let nameElement = document.createElement('h5');
                                                        nameElement.textContent = article.name;
                                                        nameElement.style.color = 'black';

                                                        articleContainer.appendChild(imgElement);
                                                        articleContainer.appendChild(nameElement);

                                                        results.appendChild(articleContainer);
                                                    });
                                                } else {
                                                    if (input.value.length > 0) {
                                                        results.innerHTML = `<b>${data}</b>`;
                                                    } else {
                                                        results.innerHTML = '';
                                                        results.style.display = 'none';
                                                    }
                                                }
                                            },

                                            error: function(err) {
                                                console.log(err);
                                            },
                                        });
                                    }

                                    searchInput.addEventListener('input', function(e) {
                                        const searchQuery = e.target.value.trim();
                                        if (searchQuery.length > 0) {
                                            resultsBox.style.display = 'block';
                                        } else {
                                            resultsBox.style.display = 'none';
                                        }
                                        sendSearchData(searchForm, searchInput, resultsBox);
                                    });

                                    searchInputMobile.addEventListener('input', function(e) {
                                        const searchQuery = e.target.value.trim();
                                        if (searchQuery.length > 0) {
                                            resultsBoxMobile.style.display = 'block';
                                        } else {
                                            resultsBoxMobile.style.display = 'none';
                                        }
                                        sendSearchData(searchFormMobile, searchInputMobile, resultsBoxMobile);
                                    });
                                    });
                            </script>

           <a href="{% url 'accueil' %}" class="logo__prin">
            <img id="logo" src="{% static 'img/logo.webp' %}">
           </a>

           
           {% if utilisateur_connecte %}


           <div class="shop__container">
            <a href="{% url 'deconnexion' %}"><button class="log__button">Se déconnecter
                        <i class="fa fa-sign-out"></i>
                    </button></a>
            <a href="{% url 'profil' %}"><button class="log__button" >
                <i class="far fa-circle-user fa-lg" style="padding: 0; padding-right: 5px; "></i>
                {{ prenom_utilisateur }}
                <i class="fa-solid fa-chevron-down" style="padding: 0;"></i>
            </button></a>
           </div>


           {% else %}

           <div class="shop__container">
            <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire
                <i class="fa fa-user-plus"></i>
            </button></a>
            <a href="{% url 'connexion' %}"><button class="log__button">Se connecter
                <i class="fa fa-sign-in"></i>
            </button></a>
           </div>


           {% endif %} 

    </div>

    <div  class="separation_img"  class="separation_img" style="display: flex; justify-content: space-around; align-items: center;">
        <img src="{% static 'img/Vector.webp' %}" alt="separation" style="width: auto; padding: 2rem;">
    </div>

    <!--==================== NAVIGATION BAR ====================-->

    <nav class="nav container" id="nav-bar">
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav__item">
                    <a href="{% url 'accueil' %}" class="nav__link">
                        <i class="fa-regular fa-moon"></i>
                         Accueil
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'accueil' %}#collection" class="nav__link">
                        <i class="fa-solid fa-shapes"></i>
                         Collections
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'accueil' %}#artist" class="nav__link">
                        <i class="fa-solid fa-person-rays"></i>
                         Artiste
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'articles' %}" class="nav__link">
                        <i class="fa-solid fa-store"></i>
                         Articles
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'pierres' %}" class="nav__link active-link">
                        <i class="fa-regular fa-gem"></i>
                         Pierres
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'accueil' %}#voyance" class="nav__link">
                        <i class="fa-solid fa-hand-sparkles"></i>
                         Voyance
                    </a>
                </li>

            </ul>

            <!--Close button-->
            <div class="nav__close" id="nav-close">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <a href="{% url 'accueil' %}" class="nav__logo">
            <img src="{% static 'img/logo_mb.webp' %}" style="width: auto; height: 2rem;">
           </a>
           
        <div class="nav__buttons">

            {% if utilisateur_connecte %}
            <a href="{% url 'panier' %}"><i class="bi bi-cart3 fa-lg"></i></a>
            <a href="{% url 'favoris' %}"><i class="bi bi-suit-heart fa-lg"></i></a>
            {% else %}
            <a id="not_connected_cart"><i class="bi bi-cart3 fa-lg"></i></a>
            <a id="not_connected_favoris"><i class="bi bi-suit-heart fa-lg"></i></a>
            {% endif %}
            
            <a href="#search" class="search__icon" aria-label="icône de recherche"><i class="bi bi-search fa-lg" style="width: 50px;"></i></a>
            
            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="fa-solid fa-bars-staggered"></i>
            </div>
        </div>
    </nav>


</header>


        <!--=============== LOG HEADER BUTTONS ==================-->

        <!-- Mobile version -->

        {% if utilisateur_connecte %}

        <div class="log__container">
            <a href="{% url 'profil' %}"><button class="log__button" >
                <i class="far fa-circle-user fa-lg" style="padding: 0; padding-right: 5px; "></i>
                {{ prenom_utilisateur }}
                <i class="fa-solid fa-chevron-down" style="padding: 0;"></i>
            </button></a>

            <a href="{% url 'deconnexion' %}"><button class="log__button">Se déconnecter
                <i class="fa fa-sign-out"></i>
            </button></a>

        </div>

        {% else %}

        <div class="log__container">
            <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire
                <i class="fa fa-user-plus"></i>
            </button></a>
            <a href="{% url 'connexion' %}"><button class="log__button">Se connecter
                <i class="fa fa-sign-in"></i>
            </button></a>
        </div>

        {% endif %}
        

    <!-- Barre de recherche Mobile -->
    <div id="searchBarMobile" class="search-bar-mobile" style="display: none;">
        <form id="search-form-mobile" method="post" autocomplete="off">
            {% csrf_token %}
            <input type="text" id="searchInputMobile" placeholder="Rechercher...">
        </form>
        <div id="results-box-mobile" class="results-card-mobile" style="display:none"></div>
    </div>
    
<!--==================== MAIN ====================-->
<main class="main">

    <!--==================== PIERRES ====================-->
            
            <!-- swiper test -->

            <section class="swiper mySwiper" style="padding-bottom: 0 !important;">
                <h1 class="collection__title pierre__title">DÉCOUVREZ NOS PIERRES</h1>

                <div class="swiper-wrapper swiper-pierre">


                    {% for pierre in pierres %}
                    <div class="card swiper-slide mon-slider pierre-card"
                    data-image="{{ pierre.image.url }}"
                    data-libelle="{{ pierre.libelle }}"
                    data-description="{{ pierre.description }}"
                    data-couverture="{{pierre.couverture.url}}"
                    data-id="{{ pierre.id}}">
                        <div class="card__image card__image-pierre">
                            <img src="{{ pierre.couverture.url }}" alt="pierre image">
                        </div>
                        <div class="card__content">
                            <span class="card__title">{{ pierre.libelle }}</span>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </section>

                            

            <div class="pierre__container">

                <div class="swiper-button-next next_pierre">    <i class="fa-regular fa-chevrons-right"></i>    </div>

                <div class="swiper-button-prev prev_pierre">    <i class="fa-regular fa-chevrons-left"></i>    </div>
                {% if selected_pierre %}
                <div class="pierre__background" id="pierre-background">
                </div>
                <div class="pierre__image">
                    <img src="{{ selected_pierre.image.url }}" alt="pierre image" id="pierre-image">
                </div>
            
                <div class="pierre__content">
                    <p class="pierre-text" id="pierre-description">
                        {{ selected_pierre.description }}
                    </p>
                </div>
                {% endif %}
            </div>
            
</main>

        
<!-- Initialize Swiper -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Récupérez les paramètres d'URL lors du chargement initial de la page
        const urlParams = new URLSearchParams(window.location.search);
        const initialLibelle = urlParams.get('pierre');
        const initialId = urlParams.get('id');

        // Sélectionnez les éléments une seule fois
        const pierreCards = document.querySelectorAll('.pierre-card');
        const pierreContainer = document.querySelector('.pierre__background');
        const pierreImage = document.querySelector('.pierre__image img');
        const pierreText = document.querySelector('.pierre-text');

        // Trouvez l'index de la pierre dans votre liste
        const initialIndex = Array.from(pierreCards).findIndex(card => card.getAttribute('data-libelle') === initialLibelle && card.getAttribute('data-id') === initialId);

        // Initialisez le swiper avec l'index de la pierre spécifiée dans l'URL
        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            initialSlide: initialIndex || 0,
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 300,
                modifier: 1,
                slideShadows: false,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: ".swiper-pagination",
            },
        });

        function updateContentBasedOnSlide(activeSlideIndex) {
            const couverture = pierreCards[activeSlideIndex].getAttribute('data-couverture');
            pierreContainer.style.backgroundImage = `url(${couverture})`;
            pierreContainer.style.backgroundPosition = 'center';

            const image = pierreCards[activeSlideIndex].getAttribute('data-image');
            const description = pierreCards[activeSlideIndex].getAttribute('data-description');
            pierreImage.src = image;
            pierreText.textContent = description;
        }

        // Vérifiez si l'URL contient le libellé et l'ID de la pierre
        if (!initialLibelle || !initialId) {
            // Si l'URL ne contient pas le libellé et l'ID, utilisez l'index de la première carte
            const firstCardIndex = 0;
            updateContentBasedOnSlide(firstCardIndex);
        }

        
        swiper.on('slideChange', function () {
            var activeSlideIndex = swiper.activeIndex;
            updateContentBasedOnSlide(activeSlideIndex);

            const libelle = pierreCards[activeSlideIndex].getAttribute('data-libelle');
            const id = pierreCards[activeSlideIndex].getAttribute('data-id');

            const currentUrl = window.location.href;
            const newUrl = `${currentUrl.split('?')[0]}?pierre=${libelle}&id=${id}`;

            history.replaceState({}, '', newUrl);

            const pierreBackground = document.getElementById('pierre-background');
            pierreBackground.style.backgroundImage = `url(${pierreCards[activeSlideIndex].getAttribute('data-couverture')})`;
            pierreBackground.style.backgroundPosition = 'center';
        });

        // Mettez à jour le contenu pour la première slide lors du chargement initial
        if (initialIndex !== undefined && initialIndex !== null) {
            updateContentBasedOnSlide(initialIndex);
        }

    });
</script>

<script>
    // Sélectionner les icônes not_connected
    var notConnectedCartIcon = document.querySelector('#not_connected_cart');
        var notConnectedFavorisIcon = document.querySelector('#not_connected_favoris');

        // Ajouter un gestionnaire d'événements click à chaque icône
        notConnectedCartIcon.addEventListener('click', function() {
            showToast('Veuillez vous connecter ou vous inscrire pour accéder au panier.');
        });

        notConnectedFavorisIcon.addEventListener('click', function() {
            showToast('Veuillez vous connecter ou vous inscrire pour accéder à vos favoris.');
        });

        // Fonction pour afficher un toast
        function showToast(message) {
            Toastify({
                text: message,
                duration: 3000,
                gravity: 'top',
                position: 'right',
                stopOnFocus: true,
                style: {
                    background: "linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113))",
                }
            }).showToast();
        }
    
</script>

{% endblock %}