{% extends 'base.html' %}
{% load static %}

{% block title %}Mon profil - La pierre de lune{% endblock %}

{% block content %}
    

<!--==================== HEADER ====================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/vader/jquery-ui.min.css" integrity="sha512-b+rStEv2LsoFlPtCVrnze9rzblG5UM3clN0yt94YKe0wqG2q2j5NZ47qcybd4ThhH+OX+4KXGWdK80gjjtsxGQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


 <!-- Include intl-tel-input styles -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">

 <!-- Include jQuery (required for intl-tel-input) -->
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

 <!-- Include intl-tel-input script -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.js"></script>

 <!-- Include intl-tel-input utils script -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>

 
<link rel="stylesheet" href="{% static 'css/log_style.css' %}">



<header role="banner" class="header" id="header">

    <!--==================== TOP BAR ====================-->
    <div class="top__bar">

        <div class="search__container">
            <a href="{% url 'panier' %}" style="width: 50px;" aria-label="icône de panier"><i class="bi bi-cart3 fa-2x"></i></a>
            <a href="{% url 'favoris' %}" style="width: 50px;" aria-label="icône de favoris"><i class="bi bi-suit-heart fa-2x"></i></a>
            <a href="#search" class="search__icon" aria-label="icône de recherche"><i class="bi bi-search fa-2x" style="width: 50px;"></i></a>
           </div>

            <!-- Barre de recherche -->
            <div id="searchBar" class="search-bar">
                <form id="search-form" method="post" autocomplete="off">
                    {% csrf_token %}
                <input type="text" id="searchInput" placeholder="Rechercher...">
                </form>
                <div id="results-box" class="results-card" style="display:none"></div>
            </div>
        
            <!-- Script to log search input to console -->

            <script>
                $(document).ready(function() {

                    const searchForm = document.getElementById('search-form');
                    const searchInput = document.getElementById('searchInput');
                    const resultsBox = document.getElementById('results-box');

                    const searchFormMobile = document.getElementById('search-form-mobile');
                    const searchInputMobile = document.getElementById('searchInputMobile');
                    const resultsBoxMobile = document.getElementById('results-box-mobile');

                    const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;

                    function sendSearchData(form, input, results) {
                        $.ajax({
                            type: 'POST',
                            url: '{% url "search" %}',
                            data: {
                                'csrfmiddlewaretoken': csrf,
                                'article': input.value,
                            },
                            success: function(res) {
                                let data = res.data;
                                if (Array.isArray(data)) {
                                    results.innerHTML = '';
                                    data.forEach(article => {
                                        let articleContainer = document.createElement('a');
                                        articleContainer.onclick = function() {
                                            window.location.href = "/details/" + article.id;
                                        };
                                        articleContainer.classList.add('link', 'article-container');

                                        let imgElement = document.createElement('img');
                                        imgElement.src = article.image;
                                        imgElement.alt = article.name;
                                        imgElement.classList.add('article-img');
                                        imgElement.style.marginRight = '10px';

                                        let nameElement = document.createElement('h5');
                                        nameElement.textContent = article.name;
                                        nameElement.style.color = 'black';

                                        articleContainer.appendChild(imgElement);
                                        articleContainer.appendChild(nameElement);

                                        results.appendChild(articleContainer);
                                    });
                                } else {
                                    if (input.value.length > 0) {
                                        results.innerHTML = `<b>${data}</b>`;
                                    } else {
                                        results.innerHTML = '';
                                        results.style.display = 'none';
                                    }
                                }
                            },

                            error: function(err) {
                                console.log(err);
                            },
                        });
                    }

                    searchInput.addEventListener('input', function(e) {
                        const searchQuery = e.target.value.trim();
                        if (searchQuery.length > 0) {
                            resultsBox.style.display = 'block';
                        } else {
                            resultsBox.style.display = 'none';
                        }
                        sendSearchData(searchForm, searchInput, resultsBox);
                    });

                    searchInputMobile.addEventListener('input', function(e) {
                        const searchQuery = e.target.value.trim();
                        if (searchQuery.length > 0) {
                            resultsBoxMobile.style.display = 'block';
                        } else {
                            resultsBoxMobile.style.display = 'none';
                        }
                        sendSearchData(searchFormMobile, searchInputMobile, resultsBoxMobile);
                    });
                    });
            </script>

           <a href="{% url 'accueil' %}" class="logo__prin">
            <img id="logo" src="{% static 'img/logo.webp'%}">
           </a>


                   {% if utilisateur_connecte %}


                   <div class="shop__container">
                    <a href="{% url 'deconnexion' %}"><button class="log__button">Se déconnecter
                        <i class="fa fa-sign-out"></i>
                    </button></a>
                    <a href="{% url 'profil' %}"><button class="log__button" >
                        <i class="far fa-circle-user fa-lg" style="padding: 0; padding-right: 5px; "></i>
                        {{ prenom_utilisateur }}
                        <i class="fa-solid fa-chevron-down" style="padding: 0;"></i>
                    </button></a>
                   </div>


                   {% else %}

                   <div class="shop__container">
                    <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire
                        <i class="fa fa-user-plus"></i>
                    </button></a>
                    <a href="{% url 'connexion' %}"><button class="log__button">Se connecter
                        <i class="fa fa-sign-in"></i>
                    </button></a>
                   </div>


                   {% endif %} 


    </div>

    <div  class="separation_img" style="display: flex; justify-content: space-around; align-items: center;">
        <img src="{% static 'img/Vector.webp'%}" alt="separation" style="width: auto; padding: 2rem;">
    </div>

    <!--==================== NAVIGATION BAR ====================-->
    <nav class="nav container" id="nav-bar">
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav__item">
                    <a href="{% url 'accueil' %}" class="nav__link">
                        <i class="fa-regular fa-moon"></i>
                         Accueil
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'accueil' %}#collection" class="nav__link">
                        <i class="fa-solid fa-shapes"></i>
                         Collection
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'accueil' %}#artist" class="nav__link">
                        <i class="fa-solid fa-person-rays"></i>
                         Artiste
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'articles' %}" class="nav__link">
                        <i class="fa-solid fa-store"></i>
                         Articles
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'pierres' %}" class="nav__link">
                        <i class="fa-regular fa-gem"></i>
                         Pierres
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'accueil' %}#voyance" class="nav__link">
                        <i class="fa-solid fa-hand-sparkles"></i>
                         Voyance
                    </a>
                </li>

            </ul>

            <!--Close button-->
            <div class="nav__close" id="nav-close">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <a href="{% url 'accueil' %}" class="nav__logo">
            <img src="{% static 'img/logo_mb.webp' %}" style="width: auto; height: 2rem;">
           </a>
           
        <div class="nav__buttons">

            <a href="{% url 'panier' %}" aria-label="icône de panier"><i class="bi bi-cart3 fa-lg"></i></a>
            <a href="{% url 'favoris' %}" aria-label="icône de favoris"><i class="bi bi-suit-heart fa-lg"></i></a>
            <a href="#search" class="search__icon" aria-label="icône de recherche"><i class="bi bi-search fa-lg" style="width: 50px;"></i></a>
            
            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="fa-solid fa-bars-staggered"></i>
            </div>
        </div>
    </nav>

</header>


        <!--=============== LOG HEADER BUTTONS ==================-->

        <!-- Mobile version -->

        {% if utilisateur_connecte %}

        <div class="log__container">
            <a href="{% url 'profil' %}"><button class="log__button" >
                <i class="far fa-circle-user fa-lg" style="padding: 0; padding-right: 5px; "></i>
                {{ prenom_utilisateur }}
                <i class="fa-solid fa-chevron-down" style="padding: 0;"></i>
            </button></a>

            <a href="{% url 'deconnexion' %}"><button class="log__button">Se déconnecter
                <i class="fa fa-sign-out"></i>
            </button></a>

        </div>

        {% else %}

        <div class="log__container">
            <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire
                <i class="fa fa-user-plus"></i>
            </button></a>
            <a href="{% url 'connexion' %}"><button class="log__button">Se connecter
                <i class="fa fa-sign-in"></i>
            </button></a>
        </div>

        {% endif %}
        

        <!-- Barre de recherche Mobile -->
    <div id="searchBarMobile" class="search-bar-mobile" style="display: none;">
        <form id="search-form-mobile" method="post" autocomplete="off">
            {% csrf_token %}
            <input type="text" id="searchInputMobile" placeholder="Rechercher...">
        </form>
        <div id="results-box-mobile" class="results-card-mobile" style="display:none"></div>
    </div>
    
<!--==================== MAIN ====================-->
<main class="main user-main">

    <!--==================== PROFILE ====================-->
      
    
        <!-- Sidebar Menu -->
        <aside role="tablist" class="aside-tab">
            <p> </p>
            <a class="active" href="#">
              Informations personnelles
            </a>
            <a href="{% url 'securite' %}">
              Sécurité
            </a>
            <a href="{% url 'historique' %}">
              Historiques des achats
            </a>
            <!-- <a href="">
              Mes commandes -->
            </a>
            <a href="{% url 'favoris' %}">
              Mes favoris
            </a>
            <a href="{% url 'commentaires' %}">
              Mes commentaires
            </a>
        </aside>

    
        <!-- Sidebar Menu Mobile Ver -->
        <div class="sidebar">
            <a href="#" class="side-closebtn" onclick="closeNav()">&times;</a>
            <a href="#" class="active-sidebar"><i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;Profil</a>
            <a href="{% url 'securite' %}"><i class="fas fa-shield-alt"></i>&nbsp;&nbsp;&nbsp;Sécurité</a>
            <a href="{% url 'historique' %}"><i class="fas fa-history"></i>&nbsp;&nbsp;&nbsp;Historique</a>
            <a href="{% url 'favoris' %}"><i class="fas fa-heart"></i>&nbsp;&nbsp;&nbsp;Favoris</a>
            <a href="{% url 'commentaires' %}"><i class="fas fa-comments"></i>&nbsp;&nbsp;&nbsp;Commentaires</a>
            
          </div>
          
        <!-- MAIN  -->
        <div class="profil__main">

            <span class="side-openbtn" onclick="openNav()">&#9776;</span>


            <section class="profil__section" id="profil-1">

                <div class="profile-info">


                    {% for msg in messages %}
                        <div class="alert {% if msg.tags == 'success' %}success-alert{% elif msg.tags == 'error' %}error-alert{% endif %}">
                            <h3 class="msg-content">{{ msg }}</h3>
                            <a class="close"><b>&times;</b></a>
                        </div>
                    {% endfor %}



                    <h2 style="margin: 2rem 0 2rem 0;">MON PROFIL</h2>

                    <form class="personal-info" id="personal-info-form" method="post" action="{% url 'update_personal_info' %}">
                        {% csrf_token %}
                        <h3 style="margin: 2rem 0 2rem 0;">Informations Personnelles</h3>
                        <hr class="divider">
                    
                        <div class="input-group name__container">
                            <label for="{{ form.nom.id_for_label }}">Nom</label>
                            {{ form.last_name }}

                            <label for="{{ form.prenom.id_for_label }}">Prénom</label>
                            {{ form.first_name }}

                        </div>
                    
                        <!-- <div class="input-group">
                            
                        </div> -->
                    
                        <div class="input-group">
                            <label for="{{ form.dob.id_for_label }}">Date de naissance</label>
                            {{ form.birthdate }}
                        </div>
                    
                        <div class="input-group">
                            <label for="{{ form.email.id_for_label }}">Adresse email</label>
                            {{ form.email }}
                        </div>
                    
                        <div class="input-group">
                            <label for="{{ form.phone.id_for_label }}">Numéro de téléphone</label>
                            {{ form.phone_number }}
                            <div style="color: red; padding-bottom: 0.5rem;">
                                {{ form.phone_number.errors }}</div>
                        </div>
                    
                        <button class="profil-button" type="submit">Sauvegarder</button>
                    </form>

                    <div style="padding-bottom: 5rem;"></div>

                </div>

                <script>


                // document.addEventListener('DOMContentLoaded', function() {
                // const phoneInputField = document.querySelector("#phone_number");
                // const phoneInput = window.intlTelInput(phoneInputField, {
                //     utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
                //     initialCountry: 'auto',
                //     geoIpLookup: function(callback) { callback('fr'); }
                //     });
                // });



                document.addEventListener('DOMContentLoaded', function() {
                // Code for initializing intlTelInput
                const phoneInputFieldIntlTel = document.querySelector("#phone_number");
                const phoneInputIntlTel = window.intlTelInput(phoneInputFieldIntlTel, {
                    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
                    initialCountry: 'auto',
                    geoIpLookup: function(callback) { callback('fr'); }
                });

                // Code for additional phone number input handling
                const phoneInputField = document.querySelector("#phone_number");

                // Attach an event listener to the form submission
                const form = document.querySelector("#personal-info-form");  // Replace with your actual form ID
                form.addEventListener('submit', function(event) {
                    // Get the current value of the input
                    let inputValue = phoneInputField.value;

                    // Remove non-numeric characters
                    inputValue = inputValue.replace(/[^0-9]/g, '');

                    // Get the selected country data from intlTelInput
                    const selectedCountryData = phoneInputIntlTel.getSelectedCountryData();

                    // Add the country code to the input value
                    const phoneNumberWithCountryCode = `+${selectedCountryData.dialCode}${inputValue}`;

                    // Update the input field value
                    phoneInputField.value = phoneNumberWithCountryCode;
                });
            });

                /*============ ALERT MESSAGE CLOSE ============*/
                $(".close").click(function() {
                    $(this)
                    .parent(".alert")
                    .fadeOut();
                });
                
                </script>
                
            </section>

        </div>

</main>

{% endblock %}