{% extends 'base.html' %}
{% load static %}

{% block content %}


<!--==================== HEADER ====================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/vader/jquery-ui.min.css" integrity="sha512-b+rStEv2LsoFlPtCVrnze9rzblG5UM3clN0yt94YKe0wqG2q2j5NZ47qcybd4ThhH+OX+4KXGWdK80gjjtsxGQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/log_style.css' %}">

<header role="banner" class="header" id="header">

    <!--==================== TOP BAR ====================-->
    <div class="top__bar">

           <div class="search__container">
            <i class="bi bi-cart3 fa-2x"></i>
            <i class="bi bi-suit-heart fa-2x"></i>
            <i class="bi bi-search fa-2x"></i>
           </div>

           <a href="{% url 'accueil' %}" class="logo__prin">
            <img id="logo" src="{% static 'img/logo.png'%}">
           </a>


                   {% if utilisateur_connecte %}


                   <div class="shop__container">
                    <a href=""><button class="log__button">Se déconnecter</button></a>
                    <a href="{% url 'profil' %}"><button class="log__button" >
                        <i class="far fa-circle-user fa-lg" style="padding: 0; padding-right: 5px; "></i>
                        {{ prenom_utilisateur }}
                        <i class="fa-solid fa-chevron-down" style="padding: 0;"></i>
                    </button></a>
                   </div>


                   {% else %}

                   <div class="shop__container">
                    <a href="{% url 'inscription' %}"><button class="log__button">S'inscrire</button></a>
                    <a href="{% url 'connexion' %}"><button class="log__button">Se connecter</button></a>
                   </div>


                   {% endif %} 


    </div>

    <div style="display: flex; justify-content: space-around; align-items: center;">
        <img src="{% static 'img/Vector.png'%}" alt="separation" style="width: auto; padding: 2rem;">
    </div>

    <!--==================== NAVIGATION BAR ====================-->
    <nav class="nav container" id="nav_bar">
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav__item">
                    <a href="{% url 'accueil' %}" class="nav__link">
                         Accueil
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'accueil' %}#collection" class="nav__link">
                         Collection
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'accueil' %}#artist" class="nav__link anchor__link">
                         Artiste
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'articles' %}" class="nav__link">
                         Articles
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'pierres' %}" class="nav__link">
                         Pierres
                    </a>
                </li>

                <li class="nav__item">
                    <a href="{% url 'accueil' %}#voyance" class="nav__link">
                         Voyance
                    </a>
                </li>

            </ul>

            <!--Close button-->
            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>

        <div class="nav__buttons">
            
            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-4-line"></i>
            </div>
        </div>
    </nav>

</header>

<!--==================== MAIN ====================-->
<main class="main">

    <!--==================== PROFILE ====================-->
      
    
        <!-- Sidebar Menu -->
        <aside role="tablist">
            <p> </p>
            <a href="">
              Mon profil
            </a>
            <a href="">
              Historiques des achats
            </a>
            <a href="">
              Mes commandes
            </a>
            <a href="">
              Mes favoris
            </a>
            <a href="">
              Mes commentaires
            </a>
        </aside>
    <div class="profil__main">


        <section class="profil__section" id="profil-1">
            <div class="profile-info">


            
                {% for msg in messages %}

                <div class="alert success-alert">
                    <h3 class="msg-content">{{msg}}</h3>
                    <a class="close">&times;</a>
                  </div>
                  
                {% endfor %}

                <h2 style="margin: 2rem 0 2rem 0;">MON PROFIL</h2>

                <form class="personal-info"  id="personal-info-form" method="post" action="{% url 'update_personal_info' %}">
                    {% csrf_token %}

                    <h3 style="margin: 2rem 0 2rem 0;">Informations Personnelles</h3>
                    <hr class="divider">

                    <div class="name__container">
                        <div class="name__field">

                            <label for="nom">Nom</label>
                            <input type="text" id="nom" name="nom" placeholder="Votre nom" {% if user.last_name %} value="{{ user.last_name }}" {% endif %}>
                        </div>
                        <div class="name__field">
                            
                            <label for="prenom">Prénom</label>
                            <input type="text" id="prenom" name="prenom" placeholder="Votre prénom" {% if user.first_name %} value="{{ user.first_name }}" {% endif %}>
                        </div>
                    </div>

                    <!-- <div class="input-group">
                        <label for="dob">Date de naissance</label>
                        <div class="date-input">
                            <input type="date" id="dob" name="dob" {% if user.birthdate %} value="{{ user.birthdate|date:'d/m/Y' }}" {% endif %} pattern="\d{2}/\d{2}/\d{4}" required>
                        </div>
                    </div> -->

                    <!-- Champ de date au format texte -->
                    <div class="input-group">
                        <label for="dob">Date de naissance</label>
                        <div class="date-input custom-datepicker">
                            <input type="text" id="dob" name="dob" placeholder="jj/mm/AAAA" {% if user.birthdate %} value="{{ user.birthdate }}" {% endif %} pattern="\d{2}/\d{2}/\d{4}" required>
                        </div>
                    </div>


                    <div class="input-group">
                        <label for="email">Adresse email</label>
                        <input type="email" id="email" name="email" placeholder="Votre adresse email" {% if user.email %} value="{{ user.email }}" {% endif %}>
                    </div>

                    <div class="input-group">
                        <label for="phone">Numéro de téléphone</label>
                        <input type="tel" id="phone" name="phone" placeholder="Votre numéro de téléphone" {% if user.phone_number %} value="{{ user.phone_number }}" {% endif %}>
                    </div>

                    <button class="profil-button" type="submit" form="personal-info-form"> Sauvegarder </button>

                </form>

                <form class="password-settings" id="password-settings-form" method="post" action="{% url 'update_password' %}">
                    {% csrf_token %}
                    <h3 style="margin: 2rem 0 2rem 0;">Paramètres du mot de passe</h3>
                    <hr class="divider">

                    <div class="input-group">
                        <label for="current-password">Mot de passe actuel</label>
                        <input type="password" id="old-password" placeholder="Mot de passe actuel">
                    </div>

                    <div class="input-group">
                        <label for="new-password">Nouveau mot de passe</label>
                        <input type="password" id="new-password" placeholder="Nouveau mot de passe">
                    </div>

                    <div class="input-group">
                        <label for="confirm-password">Confirmation du nouveau mot de passe</label>
                        <input type="password" id="new-password2" placeholder="Confirmer le nouveau mot de passe">
                    </div>

                    <button class="profil-button" type="submit" form="password-settings-form"> Sauvegarder </button>

                </form>

            </div>

            <script>
            
            /*============ ALERT MESSAGE CLOSE ============*/
            $(".close").click(function() {
                $(this)
                .parent(".alert")
                .fadeOut();
            });
            

            $(document).ready(function() {
                // Initialise le champ de date avec le sélecteur de date de jQuery UI
                $.datepicker.setDefaults($.datepicker.regional['fr']);
                $("#dob").datepicker({
                    dateFormat: 'dd/mm/yy', // Format de la date que vous souhaitez
                    changeYear: true,
                    changeMonth: true,
                    yearRange: "-100:+0", // Vous pouvez ajuster cela pour limiter la plage des années
                    closeText: 'Fermer',
                    prevText: 'Précédent',
                    nextText: 'Suivant',
                    currentText: 'Aujourd\'hui',
                    monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                    dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                    dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                    weekHeader: 'Sem.',
                    showButtonPanel: true
                });
            });
            </script>
            
        </section>

    </div>


</main>

{% endblock %}