/*-----------------------------------*\
 * #log_style.css
\*-----------------------------------*/

/**
 * copyright 2023 Batel Technology
 */


/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/*=================== BASE ===================*/

html {
    background: none !important;
    background-color: hsla(0, 0%, 0%, 1) !important;
}

/*-----------------------------------*\
 * connexion.html
\*-----------------------------------*/


.connexion__container,
.inscription__container,
.mentions__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 7rem;
}

.login__form {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 1rem;
    padding: 20px;
    width: 100%;
    max-width: 30rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.error-message {
    color: red;
    font-size: 14px;
    display: none;
    margin-bottom: 1rem;
}

.register__message,
.reset__message {
    color: white;
    margin: 10px 0;
    font-family: "Montserrat", sans-serif !important; 
}

.register__message a,
.reset__message a {
    color: rgb(0, 172, 238); /* Set the link color to white */
    text-decoration: underline; /* Add underline to the links */
}

.button__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.reset__message {
    color: white;
    margin: 0; /* Reset margin to make the message align closely to the button */
}

button.login__button {
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 3rem;
    border: 1px solid;
    color: white;
    font-family: "Montserrat", sans-serif !important; 
    font-size: large;
    background-color: hsla(0, 1%, 67%, 0.6);
    border-color: hsla(0, 0%, 90%, 0.7);
    cursor: pointer;
    margin-right: 2rem; /* Add a margin to separate the button and message */
}

button.login__button:hover {
    background-color: hsla(0, 0%, 80%, 0.7);
    border-color: white;
}


.name__container .name__field .custom-first-name-class,
.name__container .name__field .custom-last-name-class,
.custom-email-class,
.custom-password-class,
.custom-confirm-password-class {
    border: none;
    border-radius: 3rem;
    padding: 0.5rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    width: 95%;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: large;
}


.name__container .name__field .custom-first-name-class::placeholder,
.name__container .name__field .custom-last-name-class::placeholder,
.custom-email-class::placeholder,
.custom-password-class::placeholder,
.custom-confirm-password-class::placeholder {

    color: #333333c0;
}


.name__container .name__field .custom-first-name-class,
.name__container .name__field .custom-last-name-class,
.custom-email-class,
.custom-password-class,
.custom-confirm-password-class {
    background-color: rgba(255, 255, 255, 0.9);
}

.name__container {
    display: flex !important;
    justify-content: space-between;
}

.name__field {
    flex: 1;
}


/*-----------------------------------*\
 * mentions.html
\*-----------------------------------*/

.mentions__container {
    margin: 5rem;
}

.mentions__content {
    width: 80%;
    padding: 3rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
}

.mentions__content p, 
.mentions__content ul {
    text-align: left;
    line-height: 1.5;
    font-size: large;
}

.mentions__container ul {
    list-style-type: disc;
    padding-left: 2rem;
}

.mentions__content a {
    color : rgb(0, 172, 238); /* Twitter color */
}




/*-----------------------------------*\
* PROFIL.HTML
\*-----------------------------------*/

.profil__section {
    display: flex;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
}

.profile-info {
    width: 45%;
}

.alert {
    width: 100%;
    margin: 1.25rem auto;
    padding: 1rem;
    position: relative;
    border-radius: 0.5rem;
}
  
.close {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.5;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    right: 1rem;
    top: 0.95rem;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
}

.msg-content {
    font-family: Quicksand;
    color: rgb(0, 26, 0);
}
  
.success-alert {
    background-color: #6fc492 !important;
    border-left: 5px solid #178344 !important;
}

.success-alert .close {
    border-color: #178344 !important;
    color: #178344 !important;
}

.error-alert {
    background-color: #ffcccc !important;  /* Couleur de fond rouge */
    border-left: 5px solid #ff6666 !important;  /* Couleur de bordure rouge */
}

.error-alert .close {
    border-color: #ff6666 !important;  /* Couleur de bordure du bouton de fermeture rouge */
    color: #ff6666 !important;  /* Couleur du texte du bouton de fermeture rouge */
}

.profil-button {
    float: right;
    padding: 0.5rem;
    font-weight: bold;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 3rem;
    border: 1px solid;
    color: rgb(40, 40, 40);
    background-color: hsl(0, 0%, 90%);
}
  
.profil-button:hover {
    cursor: pointer;
    background-color: hsla(0, 0%, 80%, 0.8);
    border-color: white;
}

.personal-info,
.password-settings {
    margin-bottom: 4rem;
    width: 85%;
}

.personal-info h3,
.password-settings h3 {
    margin-bottom: 10px;
}

.divider {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

.personal-info .name__container .name__field,
.input-group {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.personal-info .name__container .name__field label,
.input-group label {
    margin-bottom: 0.5rem !important;
    color: white;
}


.date-input {
    position: relative;
    width: 47.5% !important; 
}


.date-input input[type="text"]:hover {
    cursor: pointer;
}

/* Styles for inputs can be adjusted according to your design */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"] {
    width: 100%;
    /* padding: 8px; */
    border: 1px solid #ccc;
    border-radius: 3rem;
}

.date-input {
    width: 80%;
}

/* Style pour le datepicker */
.custom-datepicker .ui-datepicker-header {
    background-color: #aaa9a9;
    color: rgb(197, 25, 25);
  }

.custom-datepicker .ui-datepicker-title {
    color: white;
  }

.custom-datepicker .ui-datepicker-calendar td a {
    color: #333;
  }

.sidebar {
    display: none;
}

.side-openbtn {
    display: none;
}




/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (min-width: 320px) and (max-width: 576px) {

    .name__container .name__field .custom-first-name-class,
    .name__container .name__field .custom-last-name-class,
    .custom-email-class,
    .custom-password-class,
    .custom-confirm-password-class {
        padding-left: 0.5rem !important;
    }
    
    /*-----------------------------------*\
    * CONNEXION.HTML
    \*-----------------------------------*/

    .button__container {
        height: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .login__button {
        margin-right: 0 !important;
    }
    
}

@media screen and (max-width: 767px) {
    
    .mentions__container {
        margin: 2rem 0;
    }

    .mentions__content {
        width: 100%;
        padding: 0.5rem;
    }

}